/**
 * GeoDB colors:
 * 		#998468
 * 		#5B6175
 * 		#E4E4E4
 */

$colors: (

	f1	: #5B6175,
	f2	: darken(#5B6175, 10%),
	f2b	: lighten(#5B6175, 10%),
	f3	: #EEF2F3,
	f4	: #E1E5E5,
	f5	: #FFFFFF,

	c1	: #998468,
	c1b	: darken(#998468, 10%),
	c2	: #B5C1C5,
	c2b	: #919B9E,
	c3	: #405467,
	c3b	: #283440,
	c4	: #172734,
	c5	: #D2D9DC,

	g0	: #FFFFFF,
	g1	: #FBFBFB,
	g2	: #F3F3F3,
	g3	: #E4E4E4,
	g4	: #CBCBCB,
	g5	: #B5B5B5,
	g6	: #999999,
	g7	: #777777,
	g8	: #555555,
	g9	: #242424,
	g10	: #000000,

	e1	: #88B060,
	e2	: #FF8900,
	e3	: #E23B2B,

	a1	: #D7C200,
	a2	: #00D9DF,
	a3	: #A7EB1E

);


$tooltip---min-width: 160px !default;
$tooltip---max-width: 200px !default;


@import '../../stratio-font/stratio_fonticon';

@import './helpers/variables.palette';
@import './helpers/font-faces';
@import './helpers/fonts';

	$header-font-main: mix(getColor(g0), getColor(f2), 50%) !default;
	$header-font-selected: getColor(g0) !default;
	$header-selected-border: getColor(f2b) !default;


@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/extends';
@import './helpers/fixes';
@import './helpers/draggable';

@import './layout/dashboard';
@import './layout/wizard';
@import './layout/containers';
@import './layout/grid';
@import './layout/texts';
@import './layout/colors';
@import './layout/order';

@import './components/tooltip';
@import './components/heading';
@import './components/button.wrapper';
@import './components/button';
@import './components/link';
@import './components/list';
@import './components/divider';
@import './components/actionButton';
@import './components/actionGroup';
@import './components/quickSearch';
@import './components/floatingMenu';
@import './components/floatingPanel';
@import './components/nodeList';
@import './components/dashboardHeaderTitle';
@import './components/stepsLine';
//@import './components/helpBlock';
@import './components/infoBlock';
@import './components/titleBlock';
@import './components/messageBlock';
//@import './components/messageBar';
@import './components/formList';
@import './components/title';
@import './components/titleMenu';
@import './components/table';
@import './components/tableList';
@import './components/icon';
@import './components/progress';
@import './components/label';
@import './components/messagePopup';
@import './components/input';
@import './components/input.radio';
@import './components/input.checkbox';
@import './components/input.switch';
@import './components/input.select';
@import './components/input.textarea';
@import './components/input.wrapper';
@import './components/iconLoading';
@import './components/verticalTabs';
@import './components/formField';
@import './components/node';
@import './components/node.list';
@import './components/actionPoints';
@import './components/logList';
@import './components/metric';
@import './components/dots';
@import './components/summaryLine';
@import './components/pagination';