<div class="menu-element"
	ng-class="{'selected': visible == 'true'}">

	<a href="{{sref}}">
		<span class="ico {{icon}}"></span>
		<span class="title">{{title}}</span>
		<span class="label" ng-if="label && !isNaN(label) && label > 0">
			{{label}}
		</span>
	</a>
</div>
