@page {
    size: A4;
    margin: 50px 0 0;
}
*{
	-webkit-print-color-adjust: exact;
}

body{
	width: 100%;
	margin: 0px;
	padding: 0;
}

.palette-changer,
.message-popup,
.action-group,
.st-input--group-light,
.st-input-select__arrow,
.heading__subtitle,
#stratio-base{
	display: none;
}

.print-logo{
	margin: 30px;
	margin-bottom: 0;
}

.order--report .order--report__radar1,
.order--report .order--report__radar2,
.order--report .order--report__table1,
.order--report .order--report__table2{
	flex-basis: 80%;
}

.order--report .order--report__map{
	order: 1;
}
.order--report .order--report__radar1,
.order--report .order--report__table1{
	order: 2;
}
.order--report .order--report__radar2,
.order--report .order--report__table2{
	order: 3;
}

.table-list__titles-right .table-list__details:before, .table-list__titles .table-list__th:before, .table-list__titles .table-list__td:before{
	display: none !important;
}

.st-grid--flex{
	display: block;
	width: 100%;
}
.st-grid__col{
	width: 100%;
}
.st-grid__col:last-child{
	margin-bottom: 0;
}
.st-grid__col.cut{
	display: block;
	page-break-before: always;
	margin-top: 30px;
}
.st-grid__col.not-cut{
	display: block;
	page-break-inside: avoid;
}


.table-list__titles{
	display: none;
}
.table-list__tbody-tr{
	page-break-inside: avoid;
}

.geodb-map-wrapper{
	margin: 0;
}
.geodb-map-wrapper,
canvas.chart{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.geodb-map,
.geodb-map-wrapper,
.geodb-map-cont{
	width: 680px !important;
	height: 367px !important;
}

.order--radar .chart-container{
	width: 100% !important;
}
.order--radar chart-legend{
	padding: 30px 0px 0px;
}

.geodb-map__cell{
	box-shadow: none !important;
}
.geodb-map__cell--has-value{
	position: relative;
}
.geodb-map__cell--has-value:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid rgba(153, 132, 104, 0.2) !important;
}
.geodb-map__cell--selected{
	position: relative;
	transform: none !important;
}
.geodb-map__cell--selected:before{
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	border: 1px solid rgba(69, 73, 88, 1) !important;
}
