html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
strong{
	font-weight: 600;
}

*{
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: 'Open sans';
}

@media not print{
	.only-print{
		display: none !important;
	}
}

/*
	X: 759;
	Y: 407;
 */

.geodb-map-wrapper{
	max-width: 759px;
	margin: auto;
}
.geodb-map--big{
	max-width: 1000px;
}
.geodb-map-cont{
	position: relative;
	display: block;
	width: 100%;
	padding-top: 53.62318%;
}
.geodb-map{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #eee;
	background: url(espana.jpg) no-repeat;
	background-size: cover;
	table-layout: fixed;
}
.heatmap-canvas,
.geodb-map__canvas{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.3s ease;
}
.geodb--show-heatmap .heatmap-canvas{
	opacity: 1;
}
.geodb--show-points .geodb-map__canvas{
	opacity: 1;
}

.geodb-map__line{

}
.geodb-map__cell{
	text-align: center;
	transition: all 0.3s ease;
	position: relative;
	z-index: 2;
	font-size: 1px;
	widows: 2%; /* has 50 cols */
}
.geodb-map__cell--has-value{
	cursor: pointer;
	box-shadow:	
		0px 0px 2px 0px rgba(69, 73, 88, 0),
		0px 0px 6px 0px rgba(69, 73, 88, 0),
		inset 0px 0px 1px 0px rgba(153, 132, 104, 0.8),
		inset 0px 0px 0px 1px rgba(153, 132, 104, 0);
	transform: scale(1);
}
.geodb-map__cell--selected{
	box-shadow:
		0px 0px 2px 0px rgba(69, 73, 88, 1),
		0px 0px 6px 0px rgba(69, 73, 88, 1),
		inset 0px 0px 1px 20px rgba(69, 73, 88, 0.2),
		inset 0px 0px 0px 1px rgba(69, 73, 88, 1);
	transform: scale(1.5);
	z-index: 3; 
}
.geodb-map__cell.tooltip--hover{
	transform: none !important;
}
.geodb-map--no-click .geodb-map__cell--has-value{
	cursor: default;
}
.geodb-map__cell-color{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #998468;
	transition: all 0.3s ease;
}

.geodb-map--heatmap .geodb-map__cell--has-value{
	background: none;
	border: 1px solid rgba(120, 120, 120, 0.2);
	box-shadow:	
		0px 0px 2px 0px rgba(69, 73, 88, 0),
		0px 0px 6px 0px rgba(69, 73, 88, 0),
		inset 0px 0px 1px 0px rgba(0, 0, 0, 0.2),
		inset 0px 0px 0px 1px rgba(153, 132, 104, 0);
}
.geodb-map--heatmap .geodb-map__cell--selected{
	box-shadow:
		0px 0px 2px 0px rgba(69, 73, 88, 1),
		0px 0px 6px 0px rgba(69, 73, 88, 1),
		inset 0px 0px 1px 20px rgba(69, 73, 88, 0.2),
		inset 0px 0px 0px 1px rgba(69, 73, 88, 1);
}
.geodb-map--heatmap .geodb-map__cell-color{
	background: none;
}

.geodb-map__button{
	position: absolute;
	bottom: 30px;
	right: 30px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
	z-index: 2;
	cursor: pointer;
}

.geodb-map-index{
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: center;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	font-size: 10px;
	transition: all 0.3s ease;
	opacity: 1;
}
.geodb-map-index--hidden{
	opacity: 0;
}
.geodb-map-index__index{
	display: block;
	height: 100px;
	width: 24px;
	border: 1px solid rgba(153, 132, 104, 0.4);
	/*background: linear-gradient(to bottom, rgba(153,132,104,0) 0%, rgba(153,132,104,0.6) 100%);*/
	box-shadow: inset 0px -100px 150px -100px rgba(153,132,104,0.6);
	margin: 10px auto;
	transition: all 0.3s ease;
}

.geodb-map--big{
	transform: perspective(1600px);
	transform-style: preserve-3d;
}
.geodb-map-cont{
	transition: all 0.3s ease;
	transform: rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
}
.geodb--show-3d .geodb-map-cont{
	transform: rotateX(30deg) rotateY(0deg);
}
.geodb--hide-3d .geodb-map-cont{
	transform: rotateX(0deg) rotateY(0deg) !important;
}
.geodb--show-3d .geodb-map--3d__cell{

}
.geodb--show-3d .message-popup{
	transform: rotateX(-30deg) translateZ(120px);
}
.geodb-map__cell{
	transform-style: preserve-3d;
}
.geodb-map--3d__cell{
	opacity: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
	transform-style: preserve-3d;
	transition: all 1s ease;
}
.geodb--show-3d .geodb-map--3d__cell{
	opacity: 0.8;
}
.geodb-map--3d__cell--hidden.geodb-map--3d__cell,
.geodb--hide-3d .geodb-map--3d__cell{
	transform: translateZ(0px) !important;
	opacity: 0 !important;
}
.geodb-map--3d__cell--hidden .geodb-map--3d__cell-t,
.geodb--hide-3d .geodb-map--3d__cell-t,
.geodb-map--3d__cell--hidden .geodb-map--3d__cell-b,
.geodb--hide-3d .geodb-map--3d__cell-b{
	height: 0px !important;
}
.geodb-map--3d__cell--hidden .geodb-map--3d__cell-l,
.geodb--hide-3d .geodb-map--3d__cell-l,
.geodb-map--3d__cell--hidden .geodb-map--3d__cell-r,
.geodb--hide-3d .geodb-map--3d__cell-r{
	width: 0px !important;
}
.geodb-map--3d__cell-side.geodb-map--3d__cell-b{
	background: none;
    backface-visibility: initial;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.geodb-map--3d__cell-side{
	position: absolute;
	width: 100%;
	height: 100%;
    backface-visibility: hidden;
    box-shadow:
    	inset 0px 0px 0px 100px rgba(0,0,0,0.2),
    	inset 0px 0px 0px 1px rgba(255,255,255,0.4);
	transition: all 1s ease;
}
.geodb-map--3d__cell-t,
.geodb-map--3d__cell-b{
    left: 0;
    box-shadow:
    	inset 0px 0px 0px 100px rgba(0,0,0,0.1),
    	inset 0px 0px 0px 1px rgba(255,255,255,0.4);
}

.geodb-map--3d__cell-t{top: 100%;	 transform: rotateX(-90deg); transform-origin: 50% 0%;}
.geodb-map--3d__cell-b{bottom: 100%; transform: rotateX(90deg); transform-origin: 50% 100%;}
.geodb-map--3d__cell-r{right: 100%;	 transform: rotateY(-90deg); transform-origin: 100% 50%;}
.geodb-map--3d__cell-l{left: 100%;	 transform: rotateY(90deg); transform-origin: 0% 50%;}


.title-block__content{
	height: 32px;
}

.palette-changer{
	position: absolute;
    top: -24px;
    right: -42px;
    z-index: 2;
    color: #cccccc;
    background: #ffffff;
    display: block;
    height: 28px;
    width: 28px;
    line-height: 26px !important;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0;
}
.palette-changer:hover{
	color: #998468;
	background: #fafafa;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.st-grid__col:hover .palette-changer{
	opacity: 1;
}

.tooltip{
	transition: all 0.3s ease;
}
.tooltip--hover:hover .tooltip{
	transition-delay: 0.2s;
}
.tooltip strong{
	color: #666;
	font-weight: normal;
}

.message-popup--hidden {
    transition-delay: 1s;
}

.order--radar .chart-container{
	position: relative;
	width: 66.666% !important;
}
.order--radar chart-legend{
	position: absolute;
	top: 0;
	width: 50%;
	left: 100%;
	padding-left: 30px;
}

.order--radar chart-legend li{
	display: block;
}

.order--history{
	flex-wrap: wrap;
}

.order--history .order--history__map{
	flex-basis: 100%;
	order: 10;
}
.order--history .order--history__chart1,
.order--history .order--history__chart2{
	min-width: 40%;
	order: 20;
}
.order--history .order--history__radar{
	flex-basis: 100%;
	order: 30;
}

.order--report .order--report__map{
	flex-basis: 80%;
	order: 0;
}
.order--report .order--report__radar1,
.order--report .order--report__radar2,
.order--report .order--report__table1,
.order--report .order--report__table2{
	flex-basis: 40%;
}

.order--report .order--report__radar1,
.order--report .order--report__table1{
	order: 1;
}
.order--report .order--report__radar2,
.order--report .order--report__table2{
	order: 2;
}

@media (min-width: 1340px){
	.order--history .order--history__map{
		flex-basis: none;
		min-width: 55%;
		max-width: 1030px;
		flex: 2;
	}
	.order--history .order--history__radar{
		flex-basis: none;
		min-width: 30%;
		flex: 1;
		order: 12;
	}
}

@media (min-width: 1340px), (max-width: 670px){
	.order--chart-base.order--chart-base__chart-radar .chart-container,
	.order--radar .chart-container{
		position: relative;
		width: calc(100% + (30px * 2)) !important;
		margin: 0px -30px;
	}
	.order--chart-base.order--chart-base__chart-radar chart-legend,
	.order--radar chart-legend{
		position: static;
		width: auto;
		padding: 30px 30px 0px;
		display: block;
	}

	.order--chart-base.order--chart-base__chart-radar chart-legend li,
	.order--radar chart-legend li{
		display: inline-block;
	}
}


@media (max-width: 670px){
	.order--history .order--history__chart1,
	.order--history .order--history__chart2{
		min-width: auto;
		flex-basis: 100%;
	}
}

@media (max-width: 1000px){
	.order--report .order--report__radar1,
	.order--report .order--report__radar2,
	.order--report .order--report__table1,
	.order--report .order--report__table2{
		flex-basis: 80%;
	}
}

@media (max-width: 880px){
	.geodb-map__button{
		--position: static;
	}
}