<label
	class="st-input-checkbox"
	ng-class="{'st-input-checkbox--selected': ngModel}">
	
	<input type="checkbox" class="st-input-checkbox__input" ng-model="ngModel" ng-required="required">
	<div class="st-input-checkbox__checkbox">
		<div class="st-input-checkbox__checkbox-check icon-check2"></div>
	</div>
	<div class="st-input-checkbox__text" ng-transclude></div>
</label>