<label
	ng-form="form"
	class="st-input"
	ng-class="{
		'st-input--empty': inputValue == '',
		'st-input--error': (form.input.$invalid && (form.input.$dirty || initialValidation == '')) || error === 'true',
		'st-input--slim': variant == 'slim' 
	}">
	
	<input
		class="st-input__input"
		type="{{type ? type : 'text'}}"
		ng-model="ngModel"
		name="input"
		ng-required="required"
		ng-attr-min="{{min}}"
		ng-attr-max="{{max}}"
		autocomplete="{{autocomplete}}"
		novalidate
		ng-attr-step="{{decimals == '' ? 'any' : null}}">
	<span class="st-input__placeholder">{{placeholder}}</span>
	<span class="st-input__error">
		<i class="st-input__error-icon icon-alert"></i><!-- 
	 -->{{errorMessage || "Invalid field"}}
	</span>
</label>