<div class="st-title">
	<div class="st-title__text">
		<i class="st-title__icon {{classIcon}}" ng-if="classIcon"></i><!-- 
	 -->{{title}}
	</div>
	<div class="st-title__content"><ng-transclude/></div>
</div>