<label
	ng-form="form"
	class="st-input st-input-textarea"
	ng-class="{
		'st-input--empty': !ngModel || ngModel == '',
		'st-input--error': form.input.$invalid && form.input.$dirty
	}">
	<textarea
		class="st-input__input st-input-textarea__textarea" type="{{type ? type : 'text'}}"
		ng-model="ngModel"
		name="input"
		ng-required="required">
	</textarea>
	<span class="st-input__placeholder">{{placeholder}}</span>
	<span class="st-input__error">
		<i class="st-input__error-icon icon-alert"></i><!-- 
	 -->{{errorMessage || "Invalid field"}}
	</span>
</label>
