<label
	class="st-input-radio"
	ng-class="{'st-input-radio--selected': ngModel == value}">
	
	<input type="radio" class="st-input-radio__input" ng-model="ngModel" value="{{value}}">
	<div type="radio" class="st-input-radio__radio"></div>
	<div class="st-input-radio__text" ng-transclude></div>
</label>