<div class="heading">
	<div class="heading__title-content">
		<div class="heading__subtitle">{{subtitle}}</div>
		<div class="heading__title">
			<div class="heading__title-wrapper">{{title}}</div>
		</div>
	</div>
	<div class="heading__content" ng-transclude></div>
	<div class="heading__border"></div>
</div>