<div
	class="st-input st-input--no-click st-input-select"
	ng-class="{
		'st-input--empty': (!ngModel || ngModel == '') && ngModel !== 0,
		'st-input--slim': variant == 'slim' || variant == 'group' || variant == 'groupLight',
		'st-input-select--slim': variant == 'slim' || variant == 'group' || variant == 'groupLight',
		'st-input--group': variant == 'group' || variant == 'groupLight',
		'st-input--group-light': variant == 'groupLight',
		'st-input-select--has-icon': optionsList[ngModel].classIcon,
		'st-input-select--only-icons': onlyIcons === '' || !!onlyIcons
	}"
	ng-click="$root.stToggleFloatingMenu['input-select-' + $id]()">

	<st-floating-menu
		class="floating-menu--select"
		toggle-id="{{'input-select-' + $id}}">
		
		<div
			class="st-input-select__search"
			ng-show="optionsKeys.length > 10">
			
			<st-quick-search
				variant="light"
				ng-model="search"
				placeholder="Search"
				ng-click="$event.stopPropagation();"
				ng-keyup="controlOverflow()">
			</st-quick-search>
			
			<div class="divider divider--0dph"></div>
			<div class="divider divider--cut"></div>	
			<div class="divider divider--0dph"></div>
		</div>

		<st-menu-element
			ng-repeat="key in optionsKeys | stFilterSelect : optionsList : search"
			ng-click="$parent.$parent.$parent.$parent.ngModel = optionsList[key].value; ngChange()"
			class="st-input-select__option"
			ng-class="{
				'st-input-select__option--hidden': false,
				'st-input-select__option--selected': ngModel == optionsList[key].value
			}"
			class-icon="{{optionsList[key].classIcon}}"
			title="{{optionsList[key].name}}">

			{{optionsList[key].name}}
		</st-menu-element>
	</st-floating-menu>

	<span class="st-input-select__arrow icon-arrow4_down"></span>

	<span
		class="st-input-select__icon {{ngModel !== '' ? optionsList[ngModel].classIcon : ''}}"
		ng-if="ngModel !== '' &&  optionsList[ngModel].classIcon">
	</span>

	<input
		class="st-input__input st-input-select__input"
		type="{{type ? type : 'text'}}"
		value="{{ngModel !== '' ? optionsList[ngModel].name : ''}}"
		ng-required="required"
		variant="{{variant}}"
		tabindex="-1">
	<span class="st-input__placeholder">{{placeholder}}</span>
</div>