<button
	type="button"
	class="st-button"
	ng-class="{
		'st-button--secondary': variant == 'secondary' && hasTransclude,
		'st-button--gray': variant == 'gray' && hasTransclude,
		'st-button--transparent': variant == 'transparent' && hasTransclude,
		'st-button--group': variant == 'group' || variant == 'groupLight',
		'st-button--group-light': variant == 'groupLight',
		'st-button--icon': !hasTransclude || variant == 'rounded',
		'st-button--bordered': variant == 'rounded',
		'st-button--disabled': isDisabled == 'true'
	}"
	onmouseup="this.blur();">

	<span class="st-button__icon {{icon}}" ng-if="icon && !(iconRight || iconRight == '')"></span>
	<span class="st-button__text" ng-transclude></span>
	<span class="st-button__icon {{icon}}" ng-if="icon && (iconRight || iconRight == '')"></span>
</button>