<div
	class="table-list-wrapper"
	ng-class="{
		'table-list--scrollbar': scrollbar === ''
	}">

	<div class="table-list-wrapper-overflow">
		<table class="table-list table-list--has-details">
			<thead class="table-list__thead">
				<tr class="table-list__thead-tr">
					<th class="table-list__th table-list__heading">{{data.name | translate}}</th>
					<th class="table-list__th" ng-repeat="title in data.titles">
						{{title | translate}}
					</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="table-list__tbody">
				<tr class="table-list__tbody-tr" ng-repeat="row in data.values">
					<td class="table-list__td table-list__title">{{data.names[$index]}}</td>
					<td class="table-list__td" ng-repeat="(key, value) in row track by key">
						{{value}}
					</td>
					<td class="table-list__td table-list__details table-list__hidden">
						<span class="table-list__details-title">View details</span><!-- 
					 --><i class="table-list__details-icon icon-paper"></i>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-list__titles">
		<div class="table-list__th table-list__thead-tr table-list__heading">{{data.name | translate}}</div>
		<div class="table-list__td table-list__tbody-tr table-list__title" ng-repeat="row in data.values">{{data.names[$index]}}</div>
	</div>
	<div class="table-list__titles table-list__titles-right">
		<div class="table-list__th table-list__thead-tr table-list__details table-list__details-initial"></div>
		<div class="table-list__details table-list__tbody-tr" ng-repeat="(key, row) in data.values" ng-click="$root.stToggleFloatingMenu['quick-table-' + $id]()">
			<span class="table-list__details-title">View details</span><!-- 
		 --><i class="table-list__details-icon icon-paper"></i><!-- 
		 --><st-floating-panel class="table-list__panel" toggle-id="{{'quick-table-' + $id}}">

				<div class="form-list">
					<st-title class="st-title--form-list" title="{{data.names[key]}}"></st-title>

					<div
						class="form-list-wrapper__element form-list__element-flex st-input-checkbox--slim st-input-checkbox--block st-input-checkbox--no-overflow"
						ng-repeat="(valueKey, title) in data.titles">
						
						<div class="form-list__element-key">
							{{title | translate}}
						</div>
						<div class="form-list__element-value">
							{{row[valueKey]}}   
						</div>
					</div>
				</div>
	 		</st-floating-panel>
		</div>
	</div>
</div>
