<div class="title-block">
	<div class="title-block__title">
		<span ng-if="icon || classIcon" class="title-block__title-icon {{icon || classIcon}}"></span>
		<span class="title-block__title-text">{{title}}</span>
	</div>
	<div class="title-block__content"><ng-transclude/></div>
</div>