<label
	class="st-input-switch"
	ng-class="{'st-input-switch--selected': ngModel}">
	
	<input type="checkbox" class="st-input-switch__input" ng-model="ngModel" ng-required="required">
	<div class="st-input-switch__container">
		<div class="st-input-switch__check">
	</div>
</label>