
$container---padding: $base-padding !default;
$container--background---background: getColor(g2) !default;
$container--bottom---background: getColor(g1) !default;
$container--bottom---border-bottom-color: getColor(g3) !default;
$container--delimiter---max-width: 725px !default;
$container--overflow---max-height: 300px !default;
$container--overflow-large---max-height: 400px !default;
$container--overflow-xlarge---max-height: 600px !default;
$container--overflow---padding-right: 60px !default;
$container--paragraph---margin-bottom: 30px !default;

.container{
	//width: 100%;
	padding: $container---padding;

	&--bottom{
		background: $container--bottom---background;
		border-bottom: 1px solid $container--bottom---border-bottom-color;
	}
	&--background{
		background: $container--background---background;
	}

	&--no-padding{
		padding: 0;
	}

	&--large{
		width: 100%;
	}

	&--half{
		padding: $container---padding / 2;
	}

	&--delimiter{
		padding: 0;
		max-width: $container--delimiter---max-width;
	}

	&--overflow{
		@extend %webkit-sidebar;

		max-height: $container--overflow---max-height;
		padding: 30px 0px;
		padding-right: $container--overflow---padding-right;

		&-wrapper{
			@include gradientScroll($container--bottom---background, 30px);
			
			position: relative;
			margin-top: -30px;
		}
	}
	&--overflow-large{
		max-height: $container--overflow-large---max-height;
	}
	&--overflow-xlarge{
		max-height: $container--overflow-xlarge---max-height;
	}

	&--paragraph{
		p{
			margin-bottom: $container--paragraph---margin-bottom;
		}
		p:last-child{
			margin-bottom: 0;
		}
		&-half{
			p{
				margin-bottom: $container--paragraph---margin-bottom / 2;
			}
			p:last-child{
				margin-bottom: 0;
			}
		}
	}
}