@import 'dashboard.header';
@import 'dashboard.sidebar.primary';
@import 'dashboard.sidebar.auxiliar';
@import 'dashboard.fixed';
@import 'dashboard.sticky';

html,
body{
	min-height: 100%;
}
html{
	overflow-x: hidden;
}

#stratio-base{
	overflow: hidden;
	max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;

	// Base
	#base-primary-sidebar{

		$sh: 10000px;

		width: $layout-base-left;
		position: fixed;
		top: $header-menu-height + $header-topmenu-height;
		bottom: 0px;
		height: auto;
		background: $primary-sidebar-bg;
		box-shadow: -$sh $sh 0px $sh $primary-sidebar-bg; // Fake height
		left: 0;
		z-index: 800;
		transition:
			width 0.3s ease,
			left 0.3s ease;


		#sub-menu{
			@extend .webkit-sidebar;
			@include gradientScroll($primary-sidebar-bg);

			max-height: 100%;
			overflow-y: auto;
		}
	}
	#base-auxiliar-sidebar{
		width: $layout-base-right;
		position: absolute;
		top: $header-menu-height + $header-topmenu-height - 42px;
		right: -$layout-base-right - 10px;
		background: #fff;
		z-index: 990;
		transition: right 0.3s ease;
	}
	#base-content-wrapper{
		@extend .t-normal;

		width: 100%;
		padding-left: $layout-base-left;
		padding-right: 0;

		#dashboard-main-content{
			padding: $base-padding ($base-padding / 2);
			width: 100%;	
		}
	}

	.show-auxiliar-sidebar{
		@extend .t-slow;
		
		bottom: 0;
		width: $layout-base-right - 30px;
	}

	.show-primary-sidebar{
		@extend %t-normal;
		
		height: 0px;

		.ico{
			@extend %t-normal;
			
			background: #a1a1a1;
			height: 0px;
			line-height: $primary-sidebar-opener-size;
			text-align: center;
			overflow: hidden;
			width: $primary-sidebar-opener-size;
			color: #fff;
			display: block;
			font-size: 28px;
			cursor: pointer;
			z-index: 10;
			position: relative;
		}
	}



	&.has-auxiliar .stratio-base-header{
		.main{
			padding-right: $base-padding + $layout-base-right;
		}
	}

	// Hide/show primary sidebar
	.overlay{
		visibility: visible;
		transition:
			opacity 0.3s ease,
			z-index 0.3s step-end;
	}
	@media #{$mq-allow-hide-primary-sidebar}{
		#base-primary-sidebar{
			left: -$layout-base-left;
		}
		#base-content-wrapper{
			padding-left: 0px;
		}
		.stratio-base-header{
			position: relative;
			z-index: 720;
		}

		&.expanded-primary{
			#base-primary-sidebar{
				left: 0px;
			}
			.overlay{
				visibility: visible;
				z-index: 700;
				opacity: .6;
				transition:
					opacity 0.3s ease,
					z-index 0.3s step-start;
			}
		}
		.show-primary-sidebar{
			height: 10px;

			.ico{
				height: $primary-sidebar-opener-size;
			}
		}
	}

	// Hide/show auxiliar sidebar
	&.extended-auxiliar{
		#base-content-wrapper{
			padding-right: $layout-base-right;
		}
		#base-auxiliar-sidebar{
			right: 0px;
		}
	}
	@media #{$mq-auxiliar-sidebar-hidden}{
		#base-content-wrapper{
			padding-right: 0 !important;
		}
		#base-auxiliar-sidebar{
			right: -$layout-base-right - 10px !important;
		}
		.show-auxiliar-sidebar{
			bottom: -$header-show-auxiliar !important;
		}
		&.has-auxiliar .stratio-base-header{
			.main{
				padding-right: 0;
			}
		}
	}

	// Auxiliar sidebar on big screen
	@media (min-width: 1480px){
		&.extended-auxiliar{
			#base-content-wrapper{
				padding-right: $layout-base-right + $base-padding;
			}
			#base-auxiliar-sidebar{
				right: $base-padding;
			}
		}
		.show-auxiliar-sidebar{
			width: $layout-base-right;
		}
		&.has-auxiliar .stratio-base-header{
			.main{
				padding-right: ($base-padding * 2) + $layout-base-right;
			}
		}
	}

	// Force hide primary sidebar
	&.hide-primary{
		#base-primary-sidebar,
		.show-primary-sidebar{
			display: none;
		}
		#base-content-wrapper{
			padding-left: 0px;
		}
	}

	// Force hide primary sidebar
	&.only-header{
		min-height: 0;

		#base-content-wrapper{
			display: none;
		}
	}
}