$scroll-bar-primary-sidenar: 20px;

#stratio-base{
	#base-primary-sidebar{
		$extra-padding: 30px;
		padding: 0px 30px;
		padding-right: -$scroll-bar-primary-sidenar + 30px;

		#sub-menu{
			padding: 40px 0px;
			padding-right: $scroll-bar-primary-sidenar;
		}

		.submenu-mtitle{
			padding-left: 32px;
			position: relative;

			.main-title {
				text-transform: uppercase;
				font-size: 25px;
				color: $primary-sidebar-font-mtitle;
				border-bottom: 1px solid #8f98a3;
				display: block;
			}
			.ico{
				font-size: 16px;
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				line-height: 40px;
				font-size: 19px;
			}
			& + .submenu-list{
				margin-top: 20px;
			}
		}
		.title{
			margin: 20px 0px 8px $extra-padding;

			text-transform: uppercase;
			border-bottom: 1px solid #dbe3e7;
			color: $primary-sidebar-font-mtitle;
		}
		.submenu-list{
			margin: 0;
			padding-left: $extra-padding;
			padding-bottom: 5px;

			&--no-title{
				padding-top: 20px;
			}
			li,
			.menu-element{
				display: block;
				margin-bottom: 8px;

				& > a,
				& > span{
					@extend .t-normal;
					
					width: 100%;
				    white-space: nowrap;
				    text-overflow: ellipsis;
				    overflow: hidden;
				    display: block;
					color: $primary-sidebar-font-list;
					cursor: pointer;
					
					&:hover{
						color: #000000;
					}
				}
				&.active span{
					color: $blue;
					cursor: default;
				}
			}
		}
		.quick-search{
			padding-left: $base-padding;
		}

		.submenu-overlay{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $primary-sidebar-bg;
			z-index: -1;
		}
	}
}