

.order{

	&-nodes-setup{
		&__element{
			&-stratio{
				float: left;
				clear: both;
			}
		}
	}

	&-cassandra{
		&--stopped{
			margin: 0;
			padding: 0;
		}
		&--stopped &__visible{
			@extend %st-grid--flex;

			margin: 0;
			width: 100%;

			&-block{
				@extend %st-grid--flex__col;
			}
			&-divider{
				display: none;
			}
		}
	}
}