
$st-text--alone---font-size: 16px !default;
$st-text--license---font-size: 13px !default;
$st-text--license---line-height: 1.44em !default;
$st-text--on-title---color: getColor(g5) !default;
$st-text--on-title---font-size: 15px !default;
$st-text--on-title---line-height: 1.3em !default;
$st-text--underhelp---color: getColor(g5) !default;

.st-text{
	@extend %fix-span-lh;

  	&__time{
	  width: 37px;
	  display: inline-block;
	  text-align: left;
	}
	&--license{
		font-size: $st-text--license---font-size;
		line-height: $st-text--license---line-height;
	}
	&--on-title{
		font-size: $st-text--on-title---font-size;
		line-height: $st-text--on-title---line-height;
		color: $st-text--on-title---color;
	}
	&--alone{
		font-size: $st-text--alone---font-size;
	}
	&--center{
		text-align: center;
	}
	&--underhelp{
		color: $st-text--underhelp---color;
	}
}