
$wizard-view__content---padding: 30px;
$wizard-view__sidebar---width: 400px;
$wizard-view__sidebar---width: 434px;

.wizard-view{
	position: relative;

	&__content{
		padding-right: $wizard-view__sidebar---width + $wizard-view__content---padding; 
	}
	&__sidebar{
		width: $wizard-view__sidebar---width;
		right: 0;
		top: 0;
		position: absolute;
	}
}