
$roles---container-padding: 30px !default;
$roles__actions-containers---background: getColor(g1) !default;
$roles__actions-containers---border-bottom-color: getColor(g3) !default;
$roles__bulk-actions---background: getColor(g2) !default;
$roles__bulk-actions---width: 270px !default;
$roles__bulk-actions---hardcoded-bottom: -66px !default; // 0
$roles__tech---separation: 30px !default;


.roles{

	&__actions-container.container{
		position: relative;
		padding-bottom: 0;
		padding-left: 0;
	}
	&__actions-container{
		border-bottom: 1px solid $roles__actions-containers---border-bottom-color;

		&-background{
			background: $roles__actions-containers---background;
			padding-bottom: $roles---container-padding;
			padding-left: $roles---container-padding;
			padding-right: $roles__bulk-actions---width;
		}
	}
	&__bulk-actions{
		position: absolute;
		top: $roles---container-padding;
		right: 0;
		width: $roles__bulk-actions---width;
		bottom: 0px;
		background: $roles__bulk-actions---background;

		&-tip{
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding-top: 0;
		}
		&-points{
			bottom: 12px;
			right: 16px;
		}
	}
	
	////////////////////
	&__actions-container.container{
		padding-right: 0;
	}
	&__nodes-title-content,
	&__actions-container-background{
		@extend %t-normal;

		padding-right: $roles---container-padding;
	}
	&__bulk-actions{
		@extend %t-normal;

		right: -$roles---container-padding;
		transform: translateX(100%);
		bottom: $roles__bulk-actions---hardcoded-bottom;
		transition-property: transform, right, box-shadow;
	}


	&--technologies-selected &__nodes-title-content,
	&--technologies-selected &__actions-container-background{
		padding-right: $roles__bulk-actions---width + $roles---container-padding;
	}
	&--technologies-selected &__bulk-actions{
		right: 0;
		transform: translateX(0);
	}
	&--technologies-selected &__nodes-container{
		padding-right: $roles__bulk-actions---width + $roles---container-padding;
	}


	&__bulk-actions--fixed{
		position: fixed;
		top: 100px;
		margin-right: -10px;
		bottom: 30px;
		max-height: 420px;
		z-index: 3;
		box-shadow: 0px 0px 10px rgba(#000, 0.35);
	}
	&--technologies-selected &__bulk-actions--fixed{
		margin-right: 30px;
	}

	& &__status-bar--fixed{
		position: fixed;
		bottom: 0;
		right: 30px;

		&.message-bar--expanded{
			height: 238px;
		}
		.message-bar__content{
			height: 200px;
		}
	}
}