$wizard-content---padding-vertical: 50px !default;
$wizard-content---padding-horizontal: 30px !default;

.wizard-content{
	padding: $wizard-content---padding-vertical $wizard-content---padding-horizontal;
}