
$button-wrapper---separation: 20px !default;

.button-wrapper{
	text-align: right;

	.st-button{
		margin-left: $button-wrapper---separation;
		
		&:first-child{
			margin-left: 0;
		}
	}

	&--half{
		.st-button{
			margin-left: $button-wrapper---separation * 0.5;
		}
	}

	&--left{
		text-align: left;
	}
	&--center{
		text-align: center;
	}
}