
$st-button---color: getColor(g0) !default;
$st-button---font-size: 18px !default;
$st-button---height: 40px !default;
$st-button---width: 180px !default;
$st-button---horizontal: 8px !default;

$st-button--transparent---border-color:	(base: getColor(g3), hover: getColor(g4)) !default;
$st-button--transparent---border-width: 3px !default;
$st-button--transparent---color:		(base: getColor(g4), hover: getColor(g5)) !default;

$st-button--gray---background:		(base: getColor(c2), hover: getColor(c2b)) !default;
$st-button--primary---background:	(base: getColor(c1), hover: getColor(c1b)) !default;
$st-button--secondary---background:	(base: getColor(c3), hover: getColor(c3b)) !default;

$st-button--disabled---background:	getColor(g3) !default;

$st-button--bordered---background:		(base: getColor(g0), hover: getColor(g1)) !default;
$st-button--bordered---border-color:	(base: getColor(g5), hover: getColor(g6)) !default;
$st-button--bordered---color:			(base: getColor(g7), hover: getColor(g8)) !default;
$st-button--bordered---font-size: 17px !default;

$st-button--icon---background:		(base: getColor(g1), hover: getColor(g0)) !default;
$st-button--icon---color: getColor(g4) !default;
$st-button--icon---font-size: 20px !default;
$st-button--icon---size: 40px !default;
$st-button--icon---border-radius: $st-button--icon---size / 2 !default;

$st-button--group---height: 32px !default;
$st-button--group---font-size: 14px !default;

$st-button--group---color:				(base: getColor(g6), hover: getColor(g8)) !default;
$st-button--group---background:			(base: getColor(g1), hover: getColor(g3)) !default;
$st-button--group-light---background:	(base: getColor(g0), hover: getColor(g3)) !default;

$st-button--loading---animation-duration: 1s !default;
$st-button--loading---animation-delay: 0.4s !default;
$st-button--loading---background: rgba(getColor(g0), 0.75) !default;


@mixin st-button-variant($map: $st-button--primary---background, $no-focus: false){
	@include hoverize($map, background);
	
	@if($no-focus == false){
		&:focus{
			box-shadow:
				0px 0px 0px 1px rgba(map-get($map, hover), 0.8),
				0px 0px 6px 1px rgba(map-get($map, base), 0.6);
		}
		&:focus:hover{
			box-shadow:
				0px 0px 0px 1px rgba(map-get($map, hover), 0.8),
				0px 0px 6px rgba(map-get($map, hover), 0.6);
		}
	}
	@if($no-focus){
		&:focus,
		&:focus:hover{
			box-shadow: none;
		}
	}
}

.st-button{
	@extend %fix-span-lh-light;
	@extend %t-fast;

	@include getFont(text);

	min-width: $st-button---width;
	text-align: center;
	height: $st-button---height;
	line-height: $st-button---height - 2px;
	font-size: $st-button---font-size;
	text-transform: uppercase;
	outline: none;
	border: 0;
	color: $st-button---color;
	padding: 0px $st-button---horizontal;
	position: relative;
	cursor: pointer;

	@include st-button-variant();
	
	&--secondary{
		@include st-button-variant($st-button--secondary---background);
	}
	&--gray{
		@include st-button-variant($st-button--gray---background);
	}

	&--transparent{
		background: none;
		border:
			$st-button--transparent---border-width
			solid
			transparent;
		line-height: $st-button---height - $st-button--transparent---border-width * 2;

		@include hoverize($st-button--transparent---border-color, border-color);
		@include hoverize($st-button--transparent---color, color);

		&:hover{
			background: transparent;
			background-color: transparent;
		}
		&:focus{
			box-shadow:
				0px 0px 0px 1px rgba(map-get($st-button--transparent---border-color, hover), 0.8),
				0px 0px 6px 1px rgba(map-get($st-button--transparent---border-color, base), 0.6);
		}
		&:focus:hover{
			box-shadow:
				0px 0px 0px 1px rgba(map-get($st-button--transparent---border-color, hover), 0.8),
				0px 0px 6px rgba(map-get($st-button--transparent---border-color, hover), 0.6);
		}
	}

	&--icon{
		height: $st-button--icon---size;
		width: $st-button--icon---size;
		line-height: $st-button--icon---size - 2px;
		font-size: $st-button--icon---font-size;
		color: $st-button--icon---color;
		min-width: 0;
		border-radius: $st-button--icon---border-radius;
		opacity: 1;
		padding: 0;
		
		@include st-button-variant($st-button--icon---background);

		.st-button__icon{
			display: block;
			padding: 0;
			
			&:before{
				display: block;
				text-align: center;
			}
		}
	}

	&--bordered{
		@include getFont(text);

		font-size: $st-button--bordered---font-size;
		line-height: $st-button--icon---size - 4px;
		vertical-align: middle;
		border: 2px solid;

		@include hoverize($st-button--bordered---background, background);
		@include hoverize($st-button--bordered---color, color);
		@include hoverize($st-button--bordered---border-color, border-color);

		&--no-hover{
			&:hover{
				background: map-get($st-button--bordered---background, base);
				color: map-get($st-button--bordered---color, base);
				border-color: map-get($st-button--bordered---border-color, base);
			}
		}
	}

	&:disabled{
		background: $st-button--disabled---background;
		cursor: default;
	}

	&--icon:disabled{
		opacity: 0.5;
		background: map-get($st-button--icon---background, color);
	}

	&__icon{
		position: relative;
		top: -1px;
	}

	&__icon,
	&__text{
		vertical-align: top;
		padding: 0px 4px;
		display: inline-block;
	}

	&.no-transition{
		transition: none;
	}

	&--float-left{
		float: left;
	}

	&--large{
		width: 100%;
	}

	&--group{
		min-width: 0;
		height: $st-button--group---height;
		line-height: $st-button--group---height - 2px;
		width: auto;
		display: inline-block;
		text-transform: none;
		font-size: $st-button--group---font-size;
		vertical-align: middle;

		@include st-button-variant($st-button--group---background, true);
		@include hoverize($st-button--group---color, color);
	}
	&--group-light{
		@include st-button-variant($st-button--group-light---background, true);
	}

	// Loading
	$duration: $st-button--loading---animation-duration + $st-button--loading---animation-delay;
	$delay-proportion: ($duration - $st-button--loading---animation-delay) / $duration;
	&--loading{
		overflow: hidden;
	}
	&:before{
		@extend %t-slow;

		content: '';
		position: absolute;
		left: 0;
		bottom: 2px;
		height: 2px;
		width: 0;
		background: rgba($st-button--loading---background, 0);
		animation: none;

		@keyframes loading {
			#{0% * $delay-proportion}{
				left: 0%;
			}
			#{4% * $delay-proportion}{
				width: 0;
			}
			#{50% * $delay-proportion}{
				width: 60px;
			}
			#{60% * $delay-proportion}{
				opacity: 1;
			}
			#{100% * $delay-proportion}{
				width: 0px;
				left: 100%;
				opacity: 0.5;
			}
	    }
	}
	&--loading:before{
		animation:
			loading
			$duration
			ease-in-out
			infinite;
		background: $st-button--loading---background;
	}
	&--loading-hidden:before{
		background: rgba($st-button--loading---background, 0);
	}
}