$divider--height: 30px !default;
$divider--dp: 10px !default;
$divider--cut---color: getColor(g3) !default;

.divider{
	@extend %t-normal;

	display: block;
	clear: both;
	float: none;
	margin: 0;
	padding: 0;
	height: $divider--height;
	width: 100%;
	background-color: transparent;

	&--half{
		height: $divider--height * 0.5;
	}
	&--plus-half{
		height: $divider--height * 1.5;
	}

	@for $i from 0 through 10{
		&--#{$i}dp{
			height: $divider--dp * $i;
		}
		&--#{$i}dph{
			height: $divider--dp * ($i + 0.5);
		}
	}

	&--hidden{
		height: 0px;
	}
	&--cut{
		height: 1px;
		background-color: $divider--cut---color;
	}
}