
$floating-panel---max-height: 420px !default;
$floating-panel---width: 320px !default;
$floating-panel__arrow---separation: 18px !default;
$floating-panel__arrow---size: 8px !default;

.floating-panel{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: initial;

	&__container{
		@extend .container;
		@extend .t-normal;

		@extend %webkit-sidebar;
		@extend %webkit-sidebar-all;
		@extend %webkit-sidebar-rect;
		
		text-align: left;
		position: absolute;
		width: $floating-panel---width;
		max-height: 0;
		right: -$floating-panel__arrow---separation;
		top: $floating-panel__arrow---size / 1.41; // Math.sqrt(2)
		background: #fff;
		box-shadow: 
			0px 0px 3px rgba(#000, 0.15),
			0px 0px 1px rgba(#000, 0.3),
			0px 3px 2px -1px rgba(#000, 0.1);
		position: absolute;
		z-index: 1;
		opacity: 0;
		padding-top: 0;
		padding-bottom: 0;


	}
	&.visible &__container{
		@extend .container;

		width: $floating-panel---width;
		opacity: 1;
		max-height: $floating-panel---max-height;
	}

	&__arrow{
		@extend .t-normal;

		height: $floating-panel__arrow---size;
		width: $floating-panel__arrow---size;
		position: absolute;
		right: 0px;
		top: $floating-panel__arrow---size / 1.41; // Math.sqrt(2)
		margin-top: $floating-panel__arrow---size / -2;
		transform: rotate(-45deg);
	    box-shadow: 1px -1px 2px -1px rgba(#000, 0.4);
	    background: #fff;
	    opacity: 0;
	    z-index: 3;
	}
	&.visible &__arrow{
		opacity: 1;
	}
}