
$heading---margin-top: 50px !default;
$heading---margin-bottom: 15px !default;
$heading__title---padding-right: 60px !default;
$heading---margin: ($heading---margin-top - $base-padding) ($base-padding / 2) 0px !default;

$heading__content---padding-bottom: 12px;

.heading{
	padding: $heading---margin;
	margin-bottom: $heading---margin-bottom;
	position: relative;

	&__subtitle{
		text-transform: uppercase;
		font-size: 24px;
		line-height: 16px;
		color: getColor(g6);
	}
	&__title{
		font-size: 36px;
		text-transform: uppercase;
		color: getColor(c4);
		padding-top: 8px;
		padding-bottom: 14px;
		white-space: nowrap;
		padding-right: $heading__title---padding-right * 0.6;
	}
	&__title-wrapper{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: inline;
		padding-right: $heading__title---padding-right * 0.4;
		display: inline-block;
		max-width: 100%;
	}

	&__content{
		position: absolute;
		bottom: 0;
		right: ($base-padding / 2);
		padding-bottom: $heading__content---padding-bottom;
	}
	&__border{
		border-bottom: 1px solid getColor(c3);
	}
}