
$help-block---color: getColor(g5) !default;
$help-block---font-size: 16px !default;
$help-block---padding-left: 26px !default;
$help-block--slim---font-size: 14px !default;
$help-block--node---color: getColor(g9) !default;

.help-block{
	font-size: $help-block---font-size;
	padding-left: $help-block---padding-left;
	color: $help-block---color;
	position: relative;

	&:before{
		@extend [class^="icon-"];
		@extend .icon-pin;

		left: -$help-block---padding-left;
		width: 0px;
		display: inline-block;
		position: relative;
	}

	&--slim{
		font-size: $help-block--slim---font-size;
		line-height: 1.3em;
	}
	&--inline{
		padding-left: 0;

		&:before{
			display: inline;
			position: static;
			margin-right: 2px;
		}
	}
	&--text-ellipsis{
		@extend %text-ellipsis;
	}

	&--ellipsis:not(#{&}--ok):not(#{&}--warn):not(#{&}--error){
		@extend .icon-ellipsis;
	}
	&--ok{
		@extend .icon-circle-check;
		color: getColor(e1);
	}
	&--warn{
		@extend .icon-alert;
		color: getColor(e2);
	}
	&--error{
		@extend .icon-square-cross;
		color: getColor(e3);
	}
	&--node{
		@extend .icon-nodes;
		color: $help-block--node---color;
	}
}