
$st-icon-loading-wrapper---size: $st-button---height !default;

$st-icon-loading---border-width: 2px !default;
$st-icon-loading---border-separation: 2px !default;
$st-icon-loading---color: getColor(c1) !default;
$st-icon-loading--indeterminate--loading-percent: 0.2 !default;

 $Math_PI: 3.1416; 

.st-icon-loading{
	$offset:
		($st-icon-loading---border-width * 2 * 3) +
		($st-icon-loading---border-separation * 2); 
	$size: $st-icon-loading-wrapper---size + $offset;
	// Circle radius
	$cSize: (($st-icon-loading-wrapper---size + $st-icon-loading---border-width) / 2) + $st-icon-loading---border-separation;

	position: absolute;
	height: $size;
	width: $size;
	margin-left: $offset / -2;
	margin-top: $offset / -2;
	top: 0;
	left: 0;
	border-radius: $size / 2;
	
	circle{

		cx: $size / 2;
		cy: $size / 2;
		r: $cSize;
		stroke-width: $st-icon-loading---border-width;
		fill: none;
		stroke: $st-icon-loading---color;
		transform: rotate(-90deg);
		transform-origin: 50%;
		stroke-dasharray: $cSize * 2 * $Math_PI;
		stroke-dashoffset: $cSize * 2 * $Math_PI;

		transition:
			stroke-dashoffset 0.5s cubic-bezier(0.6, 0.3, 0.2, 1.7),
			r 0.6s cubic-bezier(0.6, 0.3, 0.2, 1.8),
			transform 0.8s ease;

	}

	&--hidden circle{
		r: (($st-icon-loading-wrapper---size - $st-icon-loading---border-width * 2) / 2);
	}
	&--determinate{
		animation: st-icon-loading--determinate 3s cubic-bezier(0.4, 0, 0.3, 1.5) 3s infinite;
	}
	&--indeterminate{
		animation: st-icon-loading--indeterminate 1.2s linear infinite;

		circle{
			stroke-dashoffset: $cSize * 2 * $Math_PI * (1 - $st-icon-loading--indeterminate--loading-percent);
		}
	}

	&-wrapper{
		position: relative;
	}
}

@keyframes st-icon-loading--determinate{
	0%{
		transform: rotate(0deg);
	}
	20%, 100%{
		transform: rotate(360deg);
	}
}
@keyframes st-icon-loading--indeterminate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}