$info-block---border-color: getColor(g3) !default;
$info-block---padding-horizontal: $base-padding !default;
$info-block---padding-vertical: 40px !default;
$info-block__content---border: 3px solid getColor(g2) !default;
$info-block__content---color: getColor(g7) !default;
$info-block__content---font-size: 17px !default;
$info-block__content---margin-left: 40px !default;
$info-block__content---padding-left: ($base-padding / 2) !default;
$info-block__content---padding-vertical: 4px !default;
$info-block__content-p---padding-bottom: 25px !default;
$info-block__icon---color: getColor(g3) !default;
$info-block__icon---font-size: 30px !default;
$info-block__icon---top: $info-block---padding-vertical + 6px !default;

.info-block{
	@extend %fix-span-lh;

	padding: $info-block---padding-vertical $info-block---padding-horizontal;
	padding-left: $info-block---padding-horizontal + $info-block__content---margin-left;
	border: 1px solid $info-block---border-color;
	position: relative;

	&__icon{
		position: absolute;
		left: $info-block---padding-horizontal;
		top: $info-block__icon---top;
		color: $info-block__icon---color;
		font-size: $info-block__icon---font-size;
	}
	&__content{
		border-left: $info-block__content---border;
		color: $info-block__content---color;
		padding: $info-block__content---padding-vertical 0;
		padding-left: $info-block__content---padding-left;
		font-size: $info-block__content---font-size;
		line-height: 1.2em;

		p{
			padding-bottom: $info-block__content-p---padding-bottom;

			&.no-padding{
				padding: 0;
			}
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
}