
$st-input---compatibilty-mode: false !default;

$st-input---background: transparent !default;
$st-input---font-size: 16px !default;
$st-input---height: 36px !default;
$st-input---width: 220px !default;
$st-input--error__error---background: getColor(e2) !default;
$st-input--error__error---color: getColor(g0) !default;
$st-input--error__error---height: 26px !default;
$st-input--error__error---padding-horizontal: 10px !default;
$st-input--error__error-icon---margin-right: 6px !default;
$st-input--error__input---border-color: getColor(e2) !default;
$st-input--error__placeholder---color: getColorLight(e2) !default;
$st-input--group---background:	(base: getColor(g1), hover: getColor(g3)) !default;
$st-input--group---color:		(base: getColor(g6), hover: getColor(g8)) !default;
$st-input--group---color: (base: getColor(g6), hover: getColor(g8)) !default;
$st-input--group---font-size: 14px !default;
$st-input--group---height: 32px !default;
$st-input--group---width: 180px !default;
$st-input--group-light---background:	(base: getColor(g0), hover: getColor(g3)) !default;
$st-input--slim---background: getColor(g0) !default;
$st-input--slim---height: 30px !default;
$st-input__input---border-color: getColor(g7) !default;
$st-input__input---color: getColor(g9) !default;
$st-input__input---padding-horizontal: 8px !default;
$st-input__input--focus---border-color: getColor(g10) !default;
$st-input__placeholder---color: (base: getColor(g7), empty: getColor(c1)) !default;
$st-input__placeholder---font-size: (base: 14px, empty: 18px) !default;
$st-input__placeholder---height: 26px !default;

.st-input{
	position: relative;
	padding-bottom: $st-input__placeholder---height;
	display: inline-block;
	width: 100%;


	&,
	&__input{
		background: $st-input---background;
	}
	&,
	&__input,
	&__placeholder{
		@extend %t-normal;
	}
	&__input,
	&--empty &__placeholder{
		padding: 0px $st-input__input---padding-horizontal;
	}
	
	@if not $st-input---compatibilty-mode{
		&__input{
			height: $st-input---height;
			line-height: $st-input---height;
			color: $st-input__input---color;
			font-size: $st-input---font-size;
			border: 0;
			outline: none;
			border: 0px solid $st-input__input---border-color;
			border-bottom-width: 1px;
			width: 100%;

			&:focus{
				border-bottom-color: $st-input__input--focus---border-color;
				box-shadow: none;
			}
			&[type=number]::-webkit-inner-spin-button, 
			&[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			.st-input--error &{
				border-color: $st-input--error__input---border-color;
				color: $st-input--error__placeholder---color;
			}
		}
	}@else{
		///////////////////////////////////////////////////////
		&__input,
		&--empty &__placeholder{
			padding: 0px $st-input__input---padding-horizontal !important;
		}
		&__input{
			height: $st-input---height !important; 
			line-height: $st-input---height !important; 
			color: $st-input__input---color !important; 
			font-size: $st-input---font-size !important; 
			border: 0 !important; 
			outline: none !important; 
			border: 0px solid $st-input__input---border-color !important; 
			border-bottom-width: 1px !important; 
			width: 100% !important;
			box-shadow: none !important;

			&:focus{
				border-bottom-color: $st-input__input--focus---border-color !important; 
				box-shadow: none !important;
			}
			&[type=number]::-webkit-inner-spin-button, 
			&[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none !important; 
				margin: 0 !important; 
			}

			.st-input--error &{
				border-color: $st-input--error__input---border-color !important; 
				color: $st-input--error__placeholder---color !important; 
			}
		}
		//////////////////////////////////////////////////////
	}


	@if not $st-input---compatibilty-mode{
		&__error{
			@extend %t-normal;

			position: absolute;
			//height: 0px;
			background: $st-input--error__error---background;
			color: $st-input--error__error---color;
			font-size: 14px;
			padding: 0px $st-input--error__error---padding-horizontal;
			height: 0;
			line-height: $st-input--error__error---height - 1px;
			width: 100%;
			overflow: hidden;
			bottom: $st-input__placeholder---height;
			opacity: 0;

			&-icon{
				margin-right: $st-input--error__error-icon---margin-right;
				position: relative;
				top: 1px;
				display: inline-block;
			}

			.st-input--error &{
				bottom: 100%;
				opacity: 1;
				height: $st-input--error__error---height;
			}
		}
		
		&--empty &__input:focus + &__placeholder,
		&__placeholder{
			// Under input
			height: $st-input__placeholder---height;
			line-height: $st-input__placeholder---height - 1px;
			bottom: 0;
			color: map-get($st-input__placeholder---color, base);
			left: 0px;
			font-size: map-get($st-input__placeholder---font-size, base);
			position: absolute;
			padding: 0px;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			max-width: 100%;
			text-overflow: ellipsis;
		}
		
		&--empty &__placeholder{
			// Over input
			cursor: pointer;
			bottom: $st-input__placeholder---height;
			height: $st-input---height;
			line-height: $st-input---height - 2px;
			font-size: map-get($st-input__placeholder---font-size, empty);
			color: map-get($st-input__placeholder---color, empty);
		}
		&--error.st-input--empty &__placeholder{
			color: $st-input--error__placeholder---color;
		}
	}@else{
		/////////////////////////////////////////////////////////////////////
		&__error{
			@extend %t-normal;

			position: absolute !important;
			//height: 0px;
			background: $st-input--error__error---background !important;
			color: $st-input--error__error---color !important;
			font-size: 14px !important;
			padding: 0px $st-input--error__error---padding-horizontal !important;
			height: 0 !important;
			line-height: $st-input--error__error---height - 1px !important;
			width: 100% !important;
			overflow: hidden !important;
			bottom: $st-input__placeholder---height !important;
			opacity: 0 !important;

			&-icon{
				margin-right: $st-input--error__error-icon---margin-right !important;
				position: relative !important;
				top: 1px !important;
				display: inline-block !important;
			}

			.st-input--error &{
				bottom: 100% !important;
				opacity: 1 !important;
				height: $st-input--error__error---height !important;
			}
		}
		
		&--empty &__input:focus + &__placeholder,
		&__placeholder{
			// Under input
			height: $st-input__placeholder---height !important;
			line-height: $st-input__placeholder---height - 1px !important;
			bottom: 0 !important;
			color: map-get($st-input__placeholder---color, base) !important;
			left: 0px !important;
			font-size: map-get($st-input__placeholder---font-size, base) !important;
			position: absolute !important;
			padding: 0px !important;
			margin: 0 !important;
			white-space: nowrap !important;
			overflow: hidden !important;
			max-width: 100% !important;
			text-overflow: ellipsis !important;
		}
		
		&--empty &__placeholder{
			// Over input
			cursor: pointer !important;
			bottom: $st-input__placeholder---height !important;
			height: $st-input---height !important;
			line-height: $st-input---height - 2px !important;
			font-size: map-get($st-input__placeholder---font-size, empty) !important;
			color: map-get($st-input__placeholder---color, empty) !important;
		}
		&--error.st-input--empty &__placeholder{
			color: $st-input--error__placeholder---color !important;
		}
		/////////////////////////////////////////////////////////////////
	}

	// Prevent click
	&--no-click &__placeholder,
	&--no-click &__input{
		pointer-events: none;
	}

	// Slim
	
	@if not $st-input---compatibilty-mode{
		&--slim{
			padding-bottom: 0;
		}
		&--slim	&__input{
			height: $st-input--slim---height;
			line-height: $st-input--slim---height;
			background: $st-input--slim---background;
			border: 0;
		}

		&--slim &__placeholder{
			bottom: 0;
			height: $st-input--slim---height;
			line-height: $st-input--slim---height;
			opacity: 0;
		}
		&--slim.st-input--empty &__placeholder{
			opacity: 1;
		}
	}@else{
		//////////////////////////////////////////////////////
		&--slim{
			padding-bottom: 0 !important;
		}
		&--slim	&__input{
			height: $st-input--slim---height !important;
			line-height: $st-input--slim---height !important;
			background: $st-input--slim---background !important;
			border: 0 !important;
		}

		&--slim &__placeholder{
			bottom: 0 !important;
			height: $st-input--slim---height !important;
			line-height: $st-input--slim---height !important;
			opacity: 0 !important;
		}
		&--slim.st-input--empty &__placeholder{
			opacity: 1 !important;
		}
		//////////////////////////////////////////////////////
	}

	// Group
	@if not $st-input---compatibilty-mode{
		&--group{
			min-width: 0;
			height: $st-input--group---height;
			line-height: $st-input--group---height - 2px;
			width: auto;
			max-width: $st-input--group---width;
			display: inline-block;
			font-size: $st-input--group---font-size;
			border-bottom: 0;

			@include hoverize($st-input--group---background, background);
			@include hoverize($st-input--group---color, color);
		}
		&--group &__placeholder{
			font-size: $st-input--group---font-size;
			height: $st-input--group---height;
			line-height: $st-input--group---height - 2px;
			color: map-get($st-input--group---color, base);
		}
		&--group &__input{
			background: transparent;
			font-size: inherit;
			color: map-get($st-input--group---color, base);
		}
		&--group:hover &__placeholder,
		&--group:hover &__input{
			color: map-get($st-input--group---color, hover);
		}

		&--group-light{
			@include hoverize($st-input--group-light---background, background);
		}
	}@else{
		//////////////////////////////////////////////////////
		&--group{
			min-width: 0 !important;
			height: $st-input--group---height !important;
			line-height: $st-input--group---height - 4px !important;
			width: auto !important;
			max-width: $st-input--group---width !important;
			display: inline-block !important;
			font-size: $st-input--group---font-size !important;
			border-bottom: 0 !important;

			@include hoverize($st-input--group---background, background);
			@include hoverize($st-input--group---color, color);
		}
		&--group &__placeholder{
			font-size: $st-input--group---font-size !important;
			height: $st-input--group---height !important;
			line-height: $st-input--group---height - 2px !important;
			color: map-get($st-input--group---color, base) !important;
		}
		&--group &__input{
			background: transparent !important;
			font-size: inherit !important;
			color: map-get($st-input--group---color, base) !important;
			border-bottom-width: 0px !important;
		}
		&--group:hover &__placeholder,
		&--group:hover &__input{
			color: map-get($st-input--group---color, hover) !important;
		}
		&--group-light{
			@include hoverize($st-input--group-light---background, background);
		}
		//////////////////////////////////////////////////////
	}
}