
$st-input-checkbox---compatibilty-mode: false !default;

$st-input-checkbox---color: getColor(g7) !important;
$st-input-checkbox--big__checkbox---size: 16px !default;
$st-input-checkbox--big__checkbox-check---font-size: 20px !default;
$st-input-checkbox--block---border-bottom: 1px solid getColor(g3) !default;
$st-input-checkbox--block---height: 36px !default;
$st-input-checkbox--slim__text---font-size: 16px !default;
$st-input-checkbox--slim__text---padding-left: 4px !default;
$st-input-checkbox__checkbox---background: getColor(g0) !default;
$st-input-checkbox__checkbox---border: getColor(g7) !default;
$st-input-checkbox__checkbox---size: 13px !default;
$st-input-checkbox__checkbox-check---color: getColor(g10) !default;
$st-input-checkbox__checkbox-check---font-size: 16px !default;
$st-input-checkbox__text---padding-left: 16px !default;


@if not $st-input-checkbox---compatibilty-mode{
	.st-input-checkbox{
		@extend %fix-span-lh;

		color: $st-input-checkbox---color;
		display: block;
		cursor: pointer;
		
		&__checkbox{
			position: relative;
			//top: 1px;
			width: $st-input-checkbox__checkbox---size;
			height: $st-input-checkbox__checkbox---size;
			border: 1px solid $st-input-checkbox__checkbox---border;
			background: $st-input-checkbox__checkbox---background;
		}
		&__checkbox-check{
			@extend .t-normal;
			
			opacity: 0;
			color: $st-input-checkbox__checkbox-check---color;
			font-size: $st-input-checkbox__checkbox-check---font-size;
			position: relative;
			top: -3px;
			left: -2px;
		}
		&--selected{
			//cursor: default;
			
			.st-input-checkbox__checkbox-check{
				opacity: 1;
			}
		}
		
		&__checkbox,
		&__text{
			display: inline-block;
			vertical-align: middle;
		}
		&__text{
			padding-left: $st-input-checkbox__text---padding-left;
		}
		&__input{
			display: none;
		}

		&--slim &__text{
			padding-left: $st-input-checkbox--slim__text---padding-left;
			font-size: $st-input-checkbox--slim__text---font-size;
		}

		&--block{
			height: $st-input-checkbox--block---height;
			line-height: $st-input-checkbox--block---height - 3px;
			border-bottom: $st-input-checkbox--block---border-bottom;
			position: relative;
		}
		&--no-overflow{
			@extend %text-ellipsis;
		}
		&--no-overflow &__text{
			display: inline;
		}

		// Big
		&--big &__checkbox{
			font-size: $st-input-checkbox--big__checkbox-check---font-size;
			height: $st-input-checkbox--big__checkbox---size;
			width: $st-input-checkbox--big__checkbox---size;
		}
		&--big &__checkbox-check{
			font-size: $st-input-checkbox--big__checkbox-check---font-size;
			top: -4px;
			left: -3px;
		}
		
		// Only checkbox
		&--only-checkbox,
		&--only-checkbox &__checkbox{
			display: inline-block;
			height: inital;
			line-height: 0;
		}
		&--only-checkbox &__text{
			display: none;
		}

		// inline
		&--inline{
			display: inline-block;
			margin-right: 18px;
		}
		&--inline &__text{
			padding-left: 0;
		}
	}
}@else{
	///////////////////////////////////////////////////////////////////
	.st-input-checkbox{
		@extend %fix-span-lh;

		color: $st-input-checkbox---color !important;
		display: block !important;
		cursor: pointer !important;
		
		&__checkbox{
			position: relative !important;
			//top: 1px;
			width: $st-input-checkbox__checkbox---size !important;
			height: $st-input-checkbox__checkbox---size !important;
			border: 1px solid $st-input-checkbox__checkbox---border !important;
			background: $st-input-checkbox__checkbox---background !important;
		}
		&__checkbox-check{
			@extend .t-normal;
			
			opacity: 0 !important;
			color: $st-input-checkbox__checkbox-check---color !important;
			font-size: $st-input-checkbox__checkbox-check---font-size !important;
			position: relative !important;
			top: -3px !important;
			left: -2px !important;
		}
		&--selected{
			//cursor: default;
			
			.st-input-checkbox__checkbox-check{
				opacity: 1 !important;
			}
		}
		
		&__checkbox,
		&__text{
			display: inline-block !important;
			vertical-align: middle !important;
		}
		&__text{
			padding-left: $st-input-checkbox__text---padding-left !important;
		}
		&__input{
			display: none;
		}

		&--slim &__text{
			padding-left: $st-input-checkbox--slim__text---padding-left !important;
			font-size: $st-input-checkbox--slim__text---font-size !important;
		}

		&--block{
			height: $st-input-checkbox--block---height !important;
			line-height: $st-input-checkbox--block---height - 3px !important;
			border-bottom: $st-input-checkbox--block---border-bottom !important;
			position: relative !important;
		}
		&--no-overflow{
			@extend %text-ellipsis;
		}
		&--no-overflow &__text{
			display: inline !important;
		}

		// Big
		&--big &__checkbox{
			font-size: $st-input-checkbox--big__checkbox-check---font-size !important;
			height: $st-input-checkbox--big__checkbox---size !important;
			width: $st-input-checkbox--big__checkbox---size !important;
		}
		&--big &__checkbox-check{
			font-size: $st-input-checkbox--big__checkbox-check---font-size !important;
			top: -4px !important;
			left: -3px !important;
		}
		
		// Only checkbox
		&--only-checkbox,
		&--only-checkbox &__checkbox{
			display: inline-block !important;
			height: inital !important;
			line-height: 0 !important;
		}
		&--only-checkbox &__text{
			display: none !important;
		}

		// inline
		&--inline{
			display: inline-block !important;
			margin-right: 18px !important;
		}
		&--inline &__text{
			padding-left: 0 !important;
		}
	}
	/////////////////////////////////////////////////////////////////////////////
}