
$st-input-radio---color: getColor(g7) !important;
$st-input-radio--selected__radio---border-interior-width: 2px !default;
$st-input-radio__radio---size: 13px !default;
$st-input-radio__radio---background: getColor(g0) !default;
$st-input-radio__radio---border-radius: $st-input-radio__radio---size / 2 !default;
$st-input-radio__radio---color: (base: getColor(g5), selected: getColor(g8)) !default;
$st-input-radio__text-padding-left: 16px !default;

.st-input-radio{
	@extend %fix-span-lh;

	color: $st-input-radio---color;
	display: block;
	cursor: pointer;
	
	&__radio{
		@extend .t-normal;
		
		position: relative;
		top: 1px;
		width: $st-input-radio__radio---size;
		height: $st-input-radio__radio---size;
		border-radius: $st-input-radio__radio---border-radius;
		border: 1px solid map-get($st-input-radio__radio---color, base);
		background: map-get($st-input-radio__radio---color, base);
		box-shadow:
			inset 0px 0px 0px
			($st-input-radio__radio---size / 2)
			$st-input-radio__radio---background;
	}
	&--selected{
		cursor: default;
		
		.st-input-radio__radio{
			border-color: map-get($st-input-radio__radio---color, selected);
			background: map-get($st-input-radio__radio---color, selected);
			box-shadow:
				inset 0px 0px 0px
				$st-input-radio--selected__radio---border-interior-width
				$st-input-radio__radio---background;
		}
	}
	
	&__radio,
	&__text{
		display: inline-block;
		vertical-align: middle;
	}
	&__text{
	    padding-left: $st-input-radio__text-padding-left;
	}
	&__input{
		display: none;
	}
}