
$input-wrapper---padding-top: 25px !default;
$input-wrapper---width: $st-input---width !default;
$input-wrapper---margin: 30px !default; 


.input-wrapper{
	display: inline-block;
	vertical-align: top;
	width: $input-wrapper---width + $input-wrapper---margin;
	padding-top: $input-wrapper---padding-top;

	&--double{
		width: ($input-wrapper---width + $input-wrapper---margin) * 2;
	}
}

.container-input-wrapper{
	margin: 0px ($input-wrapper---margin / -2);


	.input-wrapper{
		padding-left: ($input-wrapper---margin / 2);
		padding-right: ($input-wrapper---margin / 2);
	}
}