
$st-input-select---compatibility-mode: false !default;

$st-input-select---height: $st-input---height !default;
$st-input-select__option--selected---background: getColor(g2) !default;
$st-input-select__option--selected---color: getColor(c1) !default;
$st-input-select__arrow--font-size: 16px !default;
$st-input-select--slim---height: 30px !default;

.st-input-select{
	display: inline-block;
	cursor: pointer;

	&__option{
		&--selected{
			color: $st-input-select__option--selected---color;
			background: $st-input-select__option--selected---background;

			@if($st-input-select---compatibility-mode){
				.menu-element__icon{
					color: $st-input-select__option--selected---color;
				}
				a,span{
					color: $st-input-select__option--selected---color;
				}
			}
		}
	}
	&__arrow{
		height: $st-input-select---height;
		line-height: $st-input-select---height - 2px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.st-input__input{
		padding-right: 20px;
		text-overflow: ellipsis;
	}

	&--slim &__arrow{
		font-size: $st-input-select__arrow--font-size;
		line-height: $st-input-select--slim---height;
   		padding-right: 4px;
	}
	&--slim &__icon{
		height: $st-input-select--slim---height;
		line-height: $st-input-select--slim---height - 2px;
   		padding-right: 4px;
	}

	&__search{
		max-height: 0px;
		overflow: hidden;
	}
	.visible &__search{
		max-height: 100px;
	}
	
	&__icon{
		position: absolute;
		top: 0;
		left: 0;
		height: $st-input-select---height;
		line-height: $st-input-select---height - 3px;
		padding-left: 10px !important;
	}
	&--has-icon &__input{
		padding-left: 36px;

		@if($st-input-select---compatibility-mode){
			padding-left: 36px !important;
		}
	}

	&--only-icons{
		width: 50px;

		.menu-element{
			&__element{
				padding: 0px;
				display: block;
				text-align: center;
			}
			&__icon{
				margin: 0 !important;
			}
			&__text{
				display: none;
			}
		}
	}
	&--only-icons &__input{
	    visibility: hidden;
	}
}