
$label---size: 22px !default;
$label---background: getColor(g2) !default;
$label---font-size: 14px !default;
$label--form-list---right: 4px !default;

.st-label{
	width: $label---size;
	height: $label---size;
	line-height: $label---size - 1px;
	border-radius: $label---size / 2;
	background: $label---background;
	font-size: $label---font-size;
	text-align: center;

	&--form-list{
		position: absolute;
		top: 50%;
		right: $label--form-list---right;
		margin-top: $label---size / -2;
	}
}