
$link---has-underline: true !default;
$link---color: (base: getColor(c1), hover: getColor(c1b)) !default;

.link{
	@extend %t-fast;

	text-decoration: if($link---has-underline, underline, none);
	cursor: pointer;

	@include hoverize($link---color, color);

	&--no-color{
		color: inherit;

		&:hover{
			color: inherit;
			opacity: 0.8;
		}
	}
	&--no-underline{
		text-decoration: none;
	}
	&--underline{
		text-decoration: underline;
	}
}