
$st-list__element---font-size: 16px !default;
$st-list__element---line-height: 1.3em !default;
$st-list__element---padding-left: 10px !default;
$st-list__element---padding-top: 2px !default;


.st-list{

	&,
	&__element{
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
	}

	&__element{
		padding-left: $st-list__element---padding-left;
		font-size: $st-list__element---font-size;
		line-height: 1.3em;
		padding-top: 2px;
		
		&:before{
			content: "";
			position: relative;
			width: 0px;
			left: -$st-list__element---padding-left;
			display: inline-block;
		}
	}
	
	&--dashes{
		.st-list__element{
			&:before{
				content: "-";
			}
		}
	}
	&--strong{
		font-weight: bold;
	}
}