
$log-list---color-principal: getColor(a1) !default;
$log-list---color-dark: getColor(g9) !default;
$log-list---color-light: getColor(g8) !default;

$log-list---font-size: 16px !default;
$log-list---is-uppercase: true !default;
$log-list---margin-bottom: 30px !default;
$log-list--block-hover---color: getColor(g7) !default;
$log-list--block-hover---margin-bottom: 4px !default;
$log-list--block-hover__date---height: 18px !default;
$log-list--block-hover__divider---height: 10px !default;
$log-list--block-hover__pre-before---color: getColor(a1) !default;
$log-list__content---color: $log-list---color-light !default;
$log-list__content---font-size: 12px !default;
$log-list__heading---color: $log-list---color-principal !default;
$log-list__heading---font-size: 12px !default;
$log-list__heading---is-bold: true !default;
$log-list__message-type---color: $log-list---color-principal !default;
$log-list__separator---color: getColor(g5) !default;
$log-list__sub-heading---color: $log-list---color-dark !default;
$log-list__sub-heading---font-size: 14px !default;
$log-list__sub-heading---is-bold: true !default;
$log-list__sub-heading---margin-bottom: 2px !default;

$log-list__c-filter---color: getColor(g10) !default;
$log-list__c-date---color: getColor(a1) !default;
$log-list__c-ip---color: getColor(a2) !default;


.log-list{
	@extend %fix-span-lh;
	@include getFont(monospace);

	@if($log-list---is-uppercase){
		text-transform: uppercase;
	}

	& ~ &{
		margin-top: $log-list---margin-bottom;
	}

	&__heading,
	&__sub-heading,
	&__content,
	&__message,
	&__message-type{
		line-height: 1.4em;
	}

	&__divider{
		color: $log-list__separator---color;
		white-space: nowrap;
		overflow: hidden;
		line-height: 0.8em;
		position: relative;
		top: -2px;
		font-size: $log-list---font-size;
		user-select: none;
	}

	&__heading{
		font-size: $log-list__heading---font-size;
		color: $log-list__heading---color;

		@if($log-list__heading---is-bold){
			font-weight: bold;
		}
	}
	&__sub-heading{
		font-size: $log-list__sub-heading---font-size;
		color: $log-list__sub-heading---color;
		margin-bottom: $log-list__sub-heading---margin-bottom;

		@if($log-list__sub-heading---is-bold){
			font-weight: bold;
		}
	}
	&__content{
		font-size: $log-list__content---font-size;
	}
	&__message{
		display: inline;
	}
	&__message-type{
		color: $log-list__message-type---color;

		&:before{
			content: " // ";
		}
	}
	&__message:first-child &__message-type{
		&:before{
			content: none;
		}
	}
	&__pre{
		white-space: pre-wrap;
		display: block;
		word-wrap: break-word;
	}

	// block hover
	&__block-hover{
		font-size: $log-list__content---font-size;
		line-height: 1.4em;
		display: block;
		margin: 0px;
		color: $log-list--block-hover---color;
	}
	&__block-hover ~ &__block-hover{
		padding-top: $log-list--block-hover---margin-bottom;
	}
	&__block-hover &__date,
	&__block-hover &__divider{
		@extend %t-normal;
		transition-timing-function: ease-in-out;

		line-height: 2px;
		height: 0px;
		opacity: 0;
		user-select: none;
	}
	&__block-hover:hover &__divider{
		line-height: $log-list--block-hover__divider---height;
		height: $log-list--block-hover__divider---height;
		opacity: 1;
	}
	&__block-hover &__date{
		@extend %t-normal;
		@extend .log-list__heading;

		font-weight: normal;
		line-height: 2px;
		height: 0px;
		opacity: 0;
	}
	&__block-hover:hover &__date{
		line-height: $log-list--block-hover__date---height - 2px;
		height: $log-list--block-hover__date---height;
		opacity: 1;
	}
	&__block-hover &__pre:before{
		content: "-";
		width: 0px;
		display: inline-block;
		position: relative;
		left: -10px;
		color: $log-list--block-hover__pre-before---color;
	}


	// Colors
	
	&__c-filter{
		color: $log-list__c-filter---color;
		border-bottom: 1px solid currentColor;
	}
	&__c-date{
		color: $log-list__c-date---color;
	}
	&__c-ip{
		color: $log-list__c-ip---color;
	}
}