
$message-bar---background: getColor(g7) !default;
$message-bar---color: getColor(g0) !default;
$message-bar---height: 38px !default;
$message-bar---padding-horizontal: 12px !default;
$message-bar---width: 270px !default;
$message-bar--expanded---height: 300px !default;
$message-bar__content---background: getColor(g0) !default;
$message-bar__content---color: getColor(g6) !default;
$message-bar__content---font-size: 14px !default;
$message-bar__element---border-bottom-color: getColor(g3) !default;
$message-bar__element---padding-horizontal: 24px !default;
$message-bar__element---padding-vertical: 24px !default;
$message-bar__element-icon---space: 20px !default;
$message-bar__text---font-size: 16px !default;

.message-bar{
	@extend .fix-lh-span;
	@extend %t-normal;
	@extend %t-angular;

	height: $message-bar---height;
	line-height: $message-bar---height - 1px;
	background: $message-bar---background;
	color: $message-bar---color;
	width: $message-bar---width;
	padding: 0px $message-bar---padding-horizontal;
	z-index: 2;

	&--ok		{background: getColor(e1)};
	&--warn		{background: getColor(e2)};
	&--error	{background: getColor(e3)};
	
	&__title{
		height: $message-bar---height;
		cursor: pointer;
	}
	&__text{
		font-size: $message-bar__text---font-size;
	}
	&__icon{
		font-size: 0.94em;
	}
	&__content{
		@extend %t-normal;
		@extend %webkit-sidebar;

		background: $message-bar__content---background;
		color: $message-bar__content---color;
		position: absolute;
		top: $message-bar---height;
		right: 0;
		width: 100%;
		line-height: 1.3em;
		max-height: 0px;
	}
	&__element{
		padding: $message-bar__element---padding-vertical $message-bar__element---padding-horizontal;
		padding-left: $message-bar__element---padding-horizontal + $message-bar__element-icon---space;
		position: relative;
		font-size: $message-bar__content---font-size;
		border-top: 1px solid $message-bar__element---border-bottom-color;

		&:first-child{
			border: 0;
		}

		&-icon{
			position: absolute;
			top: $message-bar__element---padding-vertical;
			left: $message-bar__element---padding-horizontal;
			line-height: 1.5em;
		}
		&--ok		{color: getColor(e1)};
		&--warn		{color: getColor(e2)};
		&--error	{color: getColor(e3)};
	}

	&--on-title{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	&--expanded{
		box-shadow: 0px 0px 5px rgba(#000, 0.3);
	}
	&--expanded &__content{
		@extend %webkit-sidebar-visible;

		max-height: $message-bar--expanded---height;
		box-shadow:
			0px 7px 5px -3px rgba(#000, 0.3),
			5px 0px 5px -5px rgba(#000, 0.3),
			-5px 0px 5px -5px rgba(#000, 0.3);
	}
}