
$message-popup---background: getColor(c1) !default;
$message-popup---color: getColor(g0) !default;
$message-popup---font-size: 16px !default;
$message-popup---height: 40px !default;
$message-popup---top: $base-padding !default;
$message-popup---left: $base-padding !default;
$message-popup---opacity: 0.7 !default;
$message-popup__icon---margin-right: 14px !default;

.message-popup{
	@extend %t-slow;
	@extend %t-angular;
	
	@include getFont(heading);

	background: $message-popup---background;
	opacity: $message-popup---opacity;
	height: $message-popup---height;
	line-height: $message-popup---height + 2px;
	padding: 0px ($message-popup---height / 2);
	color: $message-popup---color;
	border-radius: ($message-popup---height / 2);
	text-transform: uppercase;
	display: inline-block;
	font-size: $message-popup---font-size;
    position: absolute;
	top: $message-popup---top;
	left: $message-popup---left;
    z-index: 3;

	&__icon{
		margin-right: $message-popup__icon---margin-right;
	}

	&--hidden{
		opacity: 0;
		visibility: hidden;
	}
}