
$message-block---padding-horizontal: 22px !default;
$message-block__message-icon---width: 44px !default;
$message-block__additional---padding-top: 15px !default;

@mixin color($color){
	background: getColor($color);

	.message-block__title{background: getColorDark($color);}
}

.message-block{
	@extend %fix-span-lh-light;
	@extend %t-angular;

	padding:
		56px
		$message-block---padding-horizontal
		40px
		($message-block---padding-horizontal + $message-block__message-icon---width);
	position: relative;
	color: #fff;
	max-height: 300px;
	overflow: hidden;

	&--ok{@include color(e1);}
	&--warn{@include color(e2);}
	&--error{@include color(e3);}

	&--info{@include color(a1);}

	&,
	&__title,
	&__message,
	&__additional{
		@extend %t-normal;
	}

	&__title{
		position: absolute;
		top: 0;
		left: 0;
		padding: 6px 12px;
		font-size: 19px;
	}
	&__title,
	&__message{
		text-transform: uppercase;
	}
	&__message{
		font-size: 30px;

		&-icon{
			position: relative;
			top: 3px;
			display: inline-block;
			width: 0px;
			left: -$message-block__message-icon---width;
		}
	}
	&__additional{
		line-height: 1em;
		font-size: 14px;

		&--has-transclude{
			padding-top: $message-block__additional---padding-top;
		}

		&-title {
			font-size: 22px;
		}
		&-underline{
			display: inline-block;
			box-shadow: inset 0px -1px rgba(#fff, 0.8);
			height: 1.24em;
			cursor: pointer;
		}
	}

	&--hidden{
		max-height: 0px;
		padding-top: 0;
		padding-bottom: 0;

		&-remove{
			@extend %t-normal;
		}

		.message-block{
			&__title,
			&__message,
			&__additional{
				opacity: 0;
			}
			&__title{
				top: -80px;
			}
		}
	}
}