
$metric--horizontal---height: 60px !default;
$metric__title---color: getColor(g7) !default;
$metric__title---font-size: 15px !default;
$metric__title-icon---color: getColor(g5) !default;
$metric__title-icon---font-size: 13px !default;
$metric__title-icon---margin-right: 7px !default;
$metric__value---color: getColor(c1) !default;
$metric__value---font-family: (family: heading, weight: light) !default;
$metric__value---font-size: 34px !default;
$metric__value---padding: 10px 0px 18px !default;
$metric__value--big---font-size: 50px !default;
$metric__value--big---padding: 12px 0px 20px !default;
$metric__value--slim---font-family: (family: heading, weight: regular) !default;
$metric__value--slim---font-size: 22px !default;

.metric{

	&__title{
		color: $metric__title---color;
		font-size: $metric__title---font-size;

		&-icon{
			color: $metric__title-icon---color;
			font-size: $metric__title-icon---font-size;
			margin-right: $metric__title-icon---margin-right;
			position: relative;
			top: 1px;
		}
	}
	&__value{
		@include getFontByMap($metric__value---font-family);

		color: $metric__value---color;
		text-align: center;
		font-size: $metric__value---font-size;
		padding: $metric__value---padding;

		&--big{
			font-size: $metric__value--big---font-size;
			padding: $metric__value--big---padding;
		}
		&--slim{
			@include getFontByMap($metric__value--slim---font-family);

			font-size: $metric__value--slim---font-size;
		}
	}
	
	&--horizontal{
		@extend .st-grid--flex;

		height: $metric--horizontal---height;
	    justify-content: space-between;
	    flex-wrap: nowrap;
	    margin: 0;
	    position: relative;
	}
	&--horizontal &__value,
	&--horizontal &__title{
		@extend %text-ellipsis;

		margin: 0;
		line-height: $metric--horizontal---height - 2px;

	}
	&--horizontal &__title:hover{
		overflow: initial;
	}
	&--horizontal &__title:hover + &__value{
		overflow: hidden;
	}
	&--horizontal &__title{
		padding-right: 8px;
	}
	&--horizontal &__value{
		padding: 0;
		text-align: right;
		overflow: initial;
	}
	&--horizontal &__progress{
		display: none;
	}
}