
$st-node-list---border-bottom: 1px solid getColor(g3) !default;
$st-node-list---color: getColor(g7) !default;
$st-node-list---font-size: 14px !default;
$st-node-list---height: 38px !default;
$st-node-list---padding-left: 15px !default;
$st-node-list--highlight---background: rgba(getColor(g0), 0.3) !default;
$st-node-list__button---background: (base: rgba(getColor(g1), 0.5), hover: getColor(g1)) !default;
$st-node-list__button---color: getColor(g5) !default;

.st-node-list{
	@extend %text-ellipsis;
	@extend %t-normal;

	height: $st-node-list---height;
	line-height: $st-node-list---height - 2px;
	border-bottom: $st-node-list---border-bottom;
	padding-left: $st-node-list---padding-left;
	padding-right: $st-node-list---height + $st-node-list---padding-left;
	position: relative;
	color: $st-node-list---color;
	font-size: $st-node-list---font-size;
	background: rgba($st-node-list--highlight---background, 0);

	&__button{
		@include hoverize($st-node-list__button---background, background);
		@extend %t-normal;

		height: $st-node-list---height - 1px;
		line-height: $st-node-list---height;
		width: $st-node-list---height;
		position: absolute;
		right: 0;
		top: 0;
		color: $st-node-list__button---color;
		text-align: center;
		cursor: pointer;
	}

	&--highlight{
		font-weight: bold;
		background: $st-node-list--highlight---background;
	}
	&--highlight &__button{
		font-weight: normal;
	}
}