
$st-pagination__element---padding-horizontal: 4px !default;
$st-pagination__element---transition-base: 0.3s !default;
$st-pagination__element---transition-increment: 0.2s !default;
$st-pagination__element---padding-bottom: 8px !default;
$st-pagination__element---width: $st-button--icon---size !default;

.st-pagination{
	margin: 0px (-$st-pagination__element---padding-horizontal) (-$st-pagination__element---padding-bottom);

	&__element{
		@extend %t-normal;

		display: inline-block;
		vertical-align: middle;
		padding: 0px $st-pagination__element---padding-horizontal $st-pagination__element---padding-bottom;
		opacity: 1;
		transform: scale(1) translateX(0%);
		width: $st-pagination__element---width + ($st-pagination__element---padding-horizontal * 2);


		&--transparent{
			@extend %t-normal;

			opacity: 0.4;

			&:hover{
				opacity: 0.6;
			}
		}

		&--hidden{
			padding-left: 0;
			padding-right: 0;
			opacity: 0;
			transform: scale(0) translateX(-50%);
			width: 0px;
			//display: none;
		}
	}
	&__more{
		@extend .st-button--bordered--no-hover;

		cursor: default;
	}
}