
$progress---height: 15px !default;
$progress---background: getColor(g2) !default;
$progress__value---background: getColor(a3) !default;
$progress--error__value---background: getColor(e3) !default;
$progress--info__value---background: getColor(c1) !default;

.st-progress{
	height: $progress---height;
	background: $progress---background;
    transition: background 0.2s;

	&__value{
		@extend %t-normal;
        transition-property: width;
        
        width: 0;
		height: $progress---height;
		background: $progress__value---background;
	}

    &--error &__value{
        background: $progress--error__value---background;
    }
    &--info &__value{
        background: $progress--info__value---background;
    }

    &--no-transition &__value{
        transition-property: none;
    }

    &--background-fade{
        background: mix($progress__value---background, $progress---background);
        transition: background 0.01s ease 0.29s;
    }
    &--error#{&}--background-fade{
        background: mix($progress--error__value---background, $progress---background);
    }
    &--info#{&}--background-fade{
        background: mix($progress--info__value---background, $progress---background);
    }
}