
$quick-search---height: 30px !default;
$quick-search--group---height: 32px !default;
$quick-search--light__input---background: getColor(g0) !default;
$quick-search__input---background: #dfe2e3 !default;

.quick-search{
	width: 100%;
	position: relative;
	height: $quick-search---height;

	&__input{
		@extend %t-normal;

		border-radius: 3px;
		width: 100%;
		height: $quick-search---height;
		line-height: $quick-search---height;
		box-shadow: none;
		padding: 0px 40px 0px 15px;
		border: 0;
		background: #dfe2e3;
		outline: none;

		&:hover{
			background: #e2e2e2;
		}
		&:focus{
			background: #e6e6e6;
		}
	}
	&__ico{
		position: absolute;
		right: 10px;
		top: 0;
		color: #9c9c9c;
		
		&:before{
			line-height: $quick-search---height;
			font-size: 14px;
		}
	}

	&--light &__input{
		background: $quick-search--light__input---background;

		&:hover,
		&:focus{
			background: $quick-search--light__input---background;
		}
	}
	&--light &__ico{
		top: -1px;
		right: 15px;
	}
	&--group{
		height: $quick-search--group---height;
	}
	&--group &__input{
		height: $quick-search--group---height;
	}
}