$steps-line__line--border-bottom: 1px solid getColor(g3) !default;

$steps-line__step---color: getColor(g7) !default;
$steps-line__step---font-size: 14px !default;
$steps-line__step---is-uppercase: true !default;
$steps-line__step---padding-bottom: 20px !default;
$steps-line__step---separation: 30px !default;
$steps-line__step---width: 125px !default;

$steps-line__step--current---color: getColor(c1) !default;
$steps-line__step--current---weight: normal !default;

$steps-line__step-text---line-height: 1.24em !default;

$steps-line__steps-container--padding: 25px !default;

$steps-line__step-circle---size: 5px !default;
$steps-line__step-circle---color: getColor(g4) !default;
$steps-line__step-circle---is-circle: true !default;

$steps-line__step-circle--selected---color: getColor(c1) !default;

$steps-line__step-circle--selected---sizes: (
	interior: 5px,
	center: 2px,
	exterior: 3px
) !default;

@function steps-line__step-circle--selected---sizes($size){
	@return map-get($steps-line__step-circle--selected---sizes, $size);
}



.steps-line{
	@extend %fix-span-lh;

	width: 100%;
	
	&__steps-container{
		padding-right: $steps-line__steps-container--padding;
	}
	&__line{
		width: 100%;
		border-bottom: $steps-line__line--border-bottom;
	}

	&__step{
		position: relative;
		display: inline-block;
		width: $steps-line__step---width;
		text-align: center;
		margin-right: $steps-line__step---separation;
		color: $steps-line__step---color;
		font-size: $steps-line__step---font-size;
		padding-bottom: $steps-line__step---padding-bottom;

		@if($steps-line__step---is-uppercase){
			text-transform: uppercase;
		}

		&:last-child{
			margin-right: 0;
		}
		
		&--current{
			color: $steps-line__step--current---color;
			font-weight: $steps-line__step--current---weight;
			
			.steps-line__step-circle{
				$circle-size: steps-line__step-circle--selected---sizes(interior) + (steps-line__step-circle--selected---sizes(center) * 2);

				width: $circle-size;
				height: $circle-size;
				margin-bottom: $circle-size / -2;
				margin-left: $circle-size / -2;
				background: $steps-line__step-circle--selected---color;
				box-shadow:
					inset 0px 0px 0px steps-line__step-circle--selected---sizes(center) getColor(g0),
					0px 0px 0px steps-line__step-circle--selected---sizes(exterior) $steps-line__step-circle--selected---color;
			}
		}
	}

	&__step-circle{
		@extend %t-fast;

		width: $steps-line__step-circle---size;
		height: $steps-line__step-circle---size;
		background: $steps-line__step-circle---color;
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0px;
		margin-bottom: $steps-line__step-circle---size / -2;
		margin-left: $steps-line__step-circle---size / -2;

		@if($steps-line__step-circle---is-circle){
			border-radius: 50%;
		}
	}

	&__step-text{
		@extend %t-normal;

		line-height: $steps-line__step-text---line-height;
		cursor: default;
	}
}