
$summary-line---color: getColor(g7) !default;
$summary-line---font-size: 16px !default;
$summary-line---line-height: 1.88em !default;

.summary-line{
	@extend %fix-span-lh;

	@include getFont(text);

	line-height: $summary-line---line-height;
	font-size: $summary-line---font-size;
	color: $summary-line---color;

	&__title,
	&__value{
		font-size: inherit;
		color: inherit;
	}

	&__value{
		font-weight: bold;
	}
}