
$table-list---background: getColor(g1) !default;
$table-list---font-size: 15px !default;
$table-list---line-height: 34px !default;
$table-list---padding: 20px !default;
$table-list__heading---color: getColor(g10) !default;
$table-list__heading---font-size: 16px !default;
$table-list__heading---font: (family: heading, weight: light) !default;
$table-list__tbody---border-color: getColor(g3) !default;
$table-list__td---color: getColor(g9) !default;
$table-list__th---color: getColor(g6) !default;
$table-list__th---font-size: 14px !default;
$table-list__thead---border-color: getColor(g6) !default;
$table-list__titles---gradient-width: 26px !default;

.table-list{
	//@extend %fix-lh-span;
	@include getFont(text);

	border-collapse: collapse;
	font-size: $table-list---font-size;
	min-width: 100%;
	
	span{
		line-height: 1.6em;
	}
	&, td, th{
		border: 0;
	}
	&__th,
	&__td,
	&__details{
		@include getFont(text);

		line-height: $table-list---line-height;
		height: $table-list---line-height;
		padding: 0px $table-list---padding;
		white-space: nowrap;

		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
	
	&__tbody-tr{
		border-bottom: 1px solid $table-list__tbody---border-color;
	}	
	&__thead-tr{
		border-bottom: 1px solid $table-list__thead---border-color;
	}
	&__th{
		color: $table-list__th---color;
		font-size: $table-list__th---font-size;
		font-weight: normal;
		text-align: left;
	}
	&__td{
		color: $table-list__td---color;
		padding-left: $table-list---padding + 2px;
		font-size: $table-list---font-size;
	}


	&__heading{
		@include getFontByMap($table-list__heading---font);

		text-transform: uppercase;
		color: $table-list__heading---color;
		font-size: $table-list__heading---font-size;
		padding-left: 0;
	}

	&__details{
		@extend %t-normal;
		@extend .link;
		@extend .link--no-underline;

		white-space: nowrap;
		max-width: 40px;

		&-title,
		&-icon{
			position: relative;
			z-index: 5;
		}
		&-title{
			@extend %t-normal;

			font-size: 14px;
			color: inherit;
			overflow: hidden;
			opacity: 0;
			max-width: 0;
		}
		&-icon{
			font-size: 15px;
			margin-left: 8px;
			color: inherit;
			max-width: 0px;
			display: inline;
			position: relative;
			top: -1px;
		}
		&-title,
		&-icon:before{
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__details:hover{
		max-width: 200px;
	}
	&__details:hover &__details-title{
		max-width: 120px;
		opacity: 1;
	}



	&__titles{
		position: absolute;
		top: 0;
		left: 0;
	}
	&__titles-right &__details,
	&__titles &__th,
	&__titles &__td{
		background: $table-list---background;
		text-align: left;
		margin-top: 1px;
		padding-left: 0;
		padding-right: 10px;
		position: relative;
		line-height: $table-list---line-height - 2px;

		&:before{
			@include linearGradient(90deg, $table-list---background, transparent);

			content: '';
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			width: $table-list__titles---gradient-width;
		}
	}

	&__titles-right{
		right: 0;
		left: 0;
		top: $table-list---line-height + 1px;
	}
	&__titles-right &__details{
		text-align: right;
		padding-right: 0;
		padding-left: 10px;
		line-height: $table-list---line-height - 5px;
		float: right;
		clear: both;
		position: static;

		&:before{
			left: -5px;
			transform: rotate(180deg);
			position: relative;
			height: $table-list---line-height - 1px;
			margin-left: -($table-list__titles---gradient-width + 10px);
			display: inline-block;
			vertical-align: middle;
		}
		&:after{
			@extend %t-normal;

			content: "";
			position: absolute;
			width: 100%;
			height: $table-list---line-height;
			margin-top: -1px;
			right: 0;
			left: 0;
		}
		&:hover:after{
			background: rgba(getColor(g7), 0.05);
		}
	}

	&__titles-right &__details-initial{
		top: -$table-list---line-height - 1px;
		right: 0;
		position: absolute;
	}



	&__hidden{
		opacity: 0;
	}


	&__panel{
		top: 10px;
		left: -4px;
		z-index: 20;
	}


	// Wrapper
	&-wrapper-overflow{
		padding-bottom: 15px;
		overflow-x: hidden;
	}
	&--scrollbar &-wrapper-overflow{
		@extend %t-normal;
		@extend %webkit-sidebar;
		@extend %webkit-sidebar-all;
		@extend %webkit-sidebar-hover;

		overflow-x: auto;
		padding-bottom: 4px;
	}
	&-wrapper:hover &-wrapper-overflow{
		@extend %webkit-sidebar-hover-hover;
	}

	&-wrapper{
		position: relative;
	}
}