
$st-title--big__text---font-size: 26px !default;
$st-title--big__text---padding-left: 8px !default;
$st-title--big__text---padding-bottom: 7px !default;
$st-title--big__icon---margin-right: 8px !default;
$st-title--form-list__text---border-bottom-color: getColor(g6) !default;
$st-title--form-list__text---font-size: 16px !default;
$st-title--form-list__text---padding-bottom: 2px !default;
$st-title__text---border-bottom-color: getColor(g3) !default;
$st-title__text---color: getColor(c4) !default;
$st-title__text---font-size: 24px !default;
$st-title__text---padding-bottom: 3px !default;

.st-title{
	width: 100%;
	position: relative;

	&__text{
		display: block;
		width: 100%;
		color: $st-title__text---color;
		font-size: $st-title__text---font-size;
		border-bottom: 1px solid $st-title__text---border-bottom-color;
		padding-bottom: $st-title__text---padding-bottom;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&__content{
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
	&__icon{
		font-size: 20px;
		margin-right: 8px;
	}

	&--slim &__text,
	&--slim &__content{
		line-height: 0.8em;
		border-bottom: 0;
		padding-bottom: 0;
	}
	
	&--big &__text{
		font-size: $st-title--big__text---font-size;
		padding-left: $st-title--big__text---padding-left;
		padding-bottom: $st-title--big__text---padding-bottom;
	}
	&--big &__icon{
		margin-right: $st-title--big__icon---margin-right;
	}
	&--big &__content{
		bottom: $st-title--big__text---padding-bottom - $st-title--form-list__text---padding-bottom;
	}

	&--upper{
		text-transform: uppercase;
	}
	&--upper &__content{
		text-transform: none;
	}
	&--form-list &__text{
		text-transform: uppercase;
		font-size: $st-title--form-list__text---font-size;
		padding-bottom: $st-title--form-list__text---padding-bottom;
		border-bottom-color: $st-title--form-list__text---border-bottom-color;
	}

	&--double-border &__text{
		border-bottom-width: 2px;
		border-bottom-color: $st-title--form-list__text---border-bottom-color;
	}
}