
$tooltip__arrow---size: 8px !default;
$tooltip__arrow---diagonal: $tooltip__arrow---size * 1.4142 !default; // Math.sqrt(2)
$tooltip---font-size: 14px !default;
$tooltip---min-width: 120px !default;
$tooltip---max-width: 164px !default;
$tooltip---color: getColor(g6) !default;

.tooltip{
	//@extend %fix-lh-span;

	@include getFont(text);
	
	text-align: center;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	box-shadow: 
		0px 0px 3px rgba(#000, 0.15),
		0px 0px 1px rgba(#000, 0.3),
		0px 3px 2px -1px rgba(#000, 0.1);
	position: absolute;
	padding: 4px 12px 6px;
	text-transform: none;
	display: block;
	color: $tooltip---color;
	z-index: 2;
	white-space: normal;
	min-width: $tooltip---min-width;
	max-width: $tooltip---max-width;
	width: auto;
    line-height: 1.5em !important;
    font-size: $tooltip---font-size;
	margin-top: 10px;
	opacity: 0;
	visibility: hidden;

	transition:
		margin-top 0.3s ease,
		margin-bottom 0.3s ease,
		opacity 0.3s ease,
		visibility 0.3s step-end;

	&:before{		
		content: '';
		height: $tooltip__arrow---size;
		width: $tooltip__arrow---size;
		position: absolute;
		left: 50%;
		margin-left: $tooltip__arrow---size / -2;
		top: 0;
		margin-top: $tooltip__arrow---size / -2;
		transform: rotate(-45deg);
	    box-shadow: 1px -1px 2px -1px rgba(#000, 0.4);
	    background: #fff;
	    z-index: 3;
	}


	&--top{
		top: auto;
		bottom: 100%;
		margin-top: 0px;
		margin-bottom: 10px;

		&:before{
			margin-top: 0px;
			top: auto;
			bottom: 0;
			margin-bottom: $tooltip__arrow---size / -2;
			transform: rotate(135deg);
		}
	}

	&--hover:hover &,
	&--visible{
		@extend .t-normal;
	
		opacity: 1;
		visibility: visible;
		margin-top: 2px;
	}
	&--visible#{&}--top{
		margin-bottom: 2px;
	}
}