
$draggable-element---width: 240px !default;
$draggable-element---height: 36px !default;
$draggable-element---background: getColor(g0) !default;
$draggable-element---box-shadow: 0px 0px 6px rgba(getColor(g9), 0.5) !default;
$draggable-element---padding: 0px 12px;

.st-draggable{
	height: 0px;
    z-index: 99999;
    position: relative;

	&__element{
		@extend %text-ellipsis;
		
		width: $draggable-element---width;
		height: $draggable-element---height;
		line-height: $draggable-element---height - 1px;
		background: $draggable-element---background;
		box-shadow: $draggable-element---box-shadow;
		padding: $draggable-element---padding;
		opacity: 0;
		user-select: none;
		height: 0;
		transition: opacity 0.3s;
		overflow: hidden;
	}

	&__element.dragging {
		height: $draggable-element---height;
		opacity: 1;
		cursor: url('./images/closedhand.cur'), move;
	}
}

[ng-drag-clone]{
	display: none;
}