// Fix line-height in spans
%fix-span-lh{
	&, body, p, span, strong {
		line-height: inherit;
		padding: 0px;
		margin: 0px;
	}
}
%fix-span-lh-light{
	&, body, p, span, strong {
		line-height: inherit;
	}
}


// Fix tables
%fix-table{
	&, table, tbody, thead, td, tr, th{
		margin: inherit;
		padding: inherit;
		color: inherit;
		background: inherit;
		border: inherit !important;
		font-weight: normal;
	}
}


// Min-width for wizard 
.wizard-container{
	min-height: 100%;

	&-wrapper{
		min-width: 1360px;
		min-height: 100%;
		overflow: hidden;
	}
}
html.main_wizard{
	max-width: 100%;
	min-height: 100%;
	overflow: initial;
}

// Exception on Wizard Roles
.main_wizard_rolesEditor{
	.wizard-container-wrapper{
		min-width: initial;
	}
}