$font-face---url: 'stratio-ui/font/' !default;



// Brandon
@font-face {
	font-family: 'Brandon Grotesque';
	src: url($font-face---url + 'BrandonGrotesque-Light.eot');
	src: url($font-face---url + 'BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),  
		 url($font-face---url + 'BrandonGrotesque-Light.woff') format('woff'), 
		 url($font-face---url + 'BrandonGrotesque-Light.ttf')  format('truetype'), 
		 url($font-face---url + 'BrandonGrotesque-Light.svg#Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url($font-face---url + 'BrandonGrotesque-Regular.eot');
	src: url($font-face---url + 'BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),  
		 url($font-face---url + 'BrandonGrotesque-Regular.woff') format('woff'), 
		 url($font-face---url + 'BrandonGrotesque-Regular.ttf')  format('truetype'), 
		 url($font-face---url + 'BrandonGrotesque-Regular.svg#Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}


// Open Sans
@font-face {
    font-family: 'Open Sans';
    src: url($font-face---url + 'OpenSans-Light.eot');
    src: url($font-face---url + 'OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		 url($font-face---url + 'OpenSans-Light.woff') format('woff'),
		 url($font-face---url + 'OpenSans-Light.ttf') format('truetype'),
		 url($font-face---url + 'OpenSans-Light.svg#Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url($font-face---url + 'OpenSans-Regular.eot');
    src: url($font-face---url + 'OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		 url($font-face---url + 'OpenSans-Regular.woff') format('woff'),
		 url($font-face---url + 'OpenSans-Regular.ttf') format('truetype'),
		 url($font-face---url + 'OpenSans-Regular.svg#Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url($font-face---url + 'OpenSans-Bold.eot');
    src: url($font-face---url + 'OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url($font-face---url + 'OpenSans-Bold.woff') format('woff'),
		 url($font-face---url + 'OpenSans-Bold.ttf') format('truetype'),
		 url($font-face---url + 'OpenSans-Bold.svg#Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


// Droid Sans Mono
@font-face {
    font-family: 'Droid Sans Mono';
    src: url($font-face---url + 'droidsansmono-webfont.eot');
    src: url($font-face---url + 'droidsansmono-webfont.eot?#iefix') format('embedded-opentype'),
		 url($font-face---url + 'droidsansmono-webfont.woff') format('woff'),
		 url($font-face---url + 'droidsansmono-webfont.ttf') format('truetype'),
		 url($font-face---url + 'droidsansmono-webfont.svg#Light') format('svg');
    font-weight: normal;
    font-style: normal;
}





