$typo--brandon: (
	name: 'Brandon Grotesque',
	variants: (
		regular: normal,
		light: 300
	)
) !default;

$typo--open-sans: (
	name: 'Open Sans',
	variants: (
		bold: bold,
		regular: normal,
		light: 300
	)
) !default;

$typo--droid-sans-mono: (
	name: 'Droid Sans Mono',
	variant: (
		regular: normal
	)
) !default;


$typos: (
	default: $typo--open-sans,
	heading: $typo--brandon,
	text: $typo--open-sans,
	monospace: $typo--droid-sans-mono
) !default;



@mixin getFont($font-name: default, $font-weight: false){

	@if(map-has-key($typos, $font-name)){
		
		$typo: map-get($typos, $font-name);

		font-family: map-get($typo, name);

		@if($font-weight != false){

			$weights: map-get($typo, variants);
			
			@if(map-has-key($weights, $font-weight)){

				font-weight: map-get($weights, $font-weight);

			}@else if(index((100,200,300,400,500,600,700,800,900), $font-weight)){
				font-weight: $font-weight;
			}@else{
				@warn('[StratioUI] getFont - Font weight "' + $font-weight + '" not found on family "' + map-get($typo, name) + '"');
			}
		}

	}@else{
		@warn('[StratioUI] getFont - Font name "' + $font-name + '" not found (use default)');
		@include getFont();
	} 
}

@mixin getFontByMap($map: (family: default)){
	@if not map-has-key($map, family){
		@warn('[StratioUI] getFontByMap - Incorrect map. Exemple: (family: text [, weight: regular])');
		@include getFont();
	}@else if not map-has-key($map, weight){
		@include getFont(map-get($map, family));
	}@else{
		@include getFont(map-get($map, family), map-get($map, weight));
	}
}