

$colors: (

	f1	: #172734,
	f2	: #0F1B27,
	f3	: #EEF2F3,
	f4	: #E1E5E5,
	f5	: #FFFFFF,

	c1	: #37B5E4,
	c1b	: #2E98BF,
	c2	: #B5C1C5,
	c2b	: #919B9E,
	c3	: #405467,
	c3b	: #283440,
	c4	: #172734,
	c5	: #D2D9DC,

	g0	: #FFFFFF,
	g1	: #FBFBFB,
	g2	: #F3F3F3,
	g3	: #E4E4E4,
	g4	: #CBCBCB,
	g5	: #B5B5B5,
	g6	: #999999,
	g7	: #777777,
	g8	: #555555,
	g9	: #242424,
	g10	: #000000,

	e1	: #88B060,
	e2	: #FF8900,
	e3	: #E23B2B,

	a1	: #D7C200,
	a2	: #00D9DF,
	a3	: #A7EB1E

) !default;



@function getColor($name: g0){
	@if not map-has-key($colors, $name) {
		@warn('[StratioUI] getColor - Color "' + $name + '" not found');
	}
	@return map-get($colors, $name);
}

@function getColorDark($name: e1){
	@return darken(map-get($colors, $name), 10%);
}

@function getColorLight($name: e1){
	@return desaturate(map-get($colors, $name), 20%);
}

@function getcolor($name: g0){
	@warn('[StratioUI] getColor - getcolor() is deprecated, use getColor()');
	@return getColor($name);
}